
<h3 class="first">Basic</h3>
<p-lightbox [images]="images"></p-lightbox>

<h3>Content</h3>
<p-lightbox type="content">
    <a class="group" href="#">
        Watch Video
    </a>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allowfullscreen></iframe>
</p-lightbox>
