<div class="ui-g">
        <div class="ui-g-12">
            <h5>Confirm Dialog</h5>
        </div>
    <div class="ui-g-4">
        <button type="button" (click)="confirm1()" pButton icon="pi pi-check" label="Confirm"></button>
    </div>
    <div class="ui-g-4">
            
        <button type="button" (click)="confirm2()" pButton icon="pi pi-times" label="Delete"></button>
    </div>
    <div class="ui-g-4">
        <app-dialog></app-dialog>
    </div>
    <div class="ui-g-12">
        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
        <p-messages [value]="msgs"></p-messages>
    </div>
</div>


