.login-container {
    position: absolute;
    background-image: none;
    background: linear-gradient(141deg, #55565a 0%, #333 59%, #333 20%);

    .login-width {
        width: 100%;
        max-width: 380px;
    }
    
    .card {
        border-top: 7px solid;
        border-radius: 10px;

        .card-header {
            width: 90px;
            height: 90px;
            margin: 0 auto;
            margin-top: -50px;
            border-radius: 50%;
            font-size: 36px;
            box-shadow: 1px 2px 3px rgba(0,0,0,0.5);

            & img {
                width: 75px;
                height: 75px;
            }
        }

        .alert, .close { padding: 0.3rem 0.5rem; }
        .alert {
            background-color: #f9eaec;
            margin-top: 1rem;
        }

        .card-body {
            
            & .env-indicator {
                position: absolute;
                top: 1rem;
                right: 1rem;
            }

            & .form-group .btn { background-color: #cf0a2c; }

            & .input-group {
                position: relative;
                
                & .view-password {
                  position: absolute;
                  right: 0.6rem;
                  top: 0;
                  font-size: 1.5rem;
                  z-index: 10;
                  cursor: pointer;
                }
            }
        }
    }
}