<div class="d-flex justify-content-center align-items-center w-100 h-100 login-container">
    <div class="login-width ml-2 mr-2 a-7ms fadeIn">
        <div class="card box-shadow border-danger">
            <div class="card-header d-flex justify-content-center align-items-center bg-danger">
                <!-- <i class="fa fa-sign-in" aria-hidden="true"></i> -->
                 <img src="assets/img/app/iconTeclo_white.png">

            </div>
            <div class="card-body text-center pb-0">
                <h2 class="name-app text-dark">
                    <strong>{{ nameAplication }}</strong>
                </h2>
                <h4 class="name-customer text-black-50">
                    <strong>TECLO</strong>
                </h4>
                <!-- <a routerLink="/register" class="text-danger">
                    Registro de invitado
                </a> -->
                <div *ngIf="msgError" class="alert alert-login alert-dismissible fade show a-5ms fadeIn" role="alert">
                    <strong class="text-danger">{{ msgError }}</strong>
                    <button type="button" class="close text-danger" (click)="msgError = false"
                        data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="env-indicator" *ngIf="appSettings.storageName">
                    <app-env-indicator></app-env-indicator>
                </div>

                <form [formGroup]="formLogin" (ngSubmit)="goLogin(formLogin.value)" class="text-left mt-4">
                    <!-- <div class="form-group">
                        <input [formControl]="email" class="form-control validation-field" placeholder="Email" type="text">
                        <small class="text-danger" *ngIf="formLogin.get('email').touched && formLogin.get('email').hasError('required')">Email is required</small>
                        <small class="text-danger" *ngIf="formLogin.get('email').touched && formLogin.get('email').hasError('email')">Invalid email address</small>
                    </div> -->
                    <div class="form-group mb-4"
                        [ngClass]="{'has-danger': (formLogin.get('username').touched && formLogin.get('username').hasError('required')) || (formLogin.get('username').hasError('minlength')),
                            'has-success': !formLogin.get('username').hasError('required') && !formLogin.get('username').hasError('minlength')}">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input [formControl]="username"
                                class="form-control validation-field"
                                placeholder="Usuario" type="text" />
                        </div>
                        <small class="text-danger"
                            *ngIf="formLogin.get('username').touched && formLogin.get('username').hasError('required')">
                            El usuario es requerido
                        </small>
                        <small class="text-danger"
                            *ngIf="formLogin.get('username').hasError('minlength')">
                            El usuario debe ser de mínimo 6 caracteres
                        </small>
                    </div>
                    <div class="form-group mb-4"
                        [ngClass]="{'has-danger': (formLogin.get('password').touched && formLogin.get('password').hasError('required')) || (formLogin.get('password').hasError('minlength')),
                            'has-success': !formLogin.get('password').hasError('required') && !formLogin.get('password').hasError('minlength')}">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-asterisk"></i>
                                </span>
                            </div>
                            <input [formControl]="password" #passwordEl
                                class="form-control"
                                placeholder="Contraseña" type="password" />
                            <div class="view-password" (click)="toggleViewPass()">
                                <i class="fa fa-eye" *ngIf="!isViewPass"></i>
                                <i class="fa fa-eye-slash" *ngIf="isViewPass"></i>
                            </div>
                        </div>
                        <small class="text-danger"
                            *ngIf="formLogin.get('password').touched && formLogin.get('password').hasError('required')">
                            La contraseña es requerida
                        </small>
                        <small class="text-danger"
                            *ngIf="formLogin.get('password').hasError('minlength')">
                            La contraseña debe ser de mínimo 6 caracteres
                        </small>
                    </div>
                    <!-- <div class="form-group d-flex justify-content-between">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="login-checkbox">
                            <label class="custom-control-label" for="login-checkbox">
                                Mantenerme conectado
                            </label>
                        </div>
                        <a class="transition pull-right" href="javascript:void(0);">
                            ¿Olvidaste tu contraseña?
                        </a>
                    </div> -->
                    <div class="form-group mb-4">
                        <button class="btn btn-primary btn-block text-white" type="submit"
                            [disabled]="!formLogin.valid">
                            Acceder
                        </button>
                    </div>

                    <div class="form-group d-flex justify-content-between">
                        <small class="copyright text-black-50">
                            Derechos de autor
                            <a href="http://teclomexicana.mx/" target="_blank" class="text-danger">
                                © Teclo Mexicana
                            </a>
                        </small>
                        <small class="copyright text-black-50">
                            Versión {{ appSettings.version }}
                        </small>
                    </div>
                </form>
            </div>
            <!-- <div class="card-footer text-center bg-transparent">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-google fa-stack-1x"></i>
                        </span>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
