<div class="dropdown d-inline-block">
    <a class="dropdown-toggle no-caret pl-2 pr-2" id="user-menu" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-user-o" aria-hidden="true"></i>
    </a>

    <div class="dropdown-menu user-menu-content dropdown-menu-right rounded-0 mt-3 p-0 box-shadow" aria-labelledby="user-menu">
        <div class="user-menu">
            <div class="user-info text-center p-3">
                <img class="user-img rounded-circle"
                    src="assets/img/users/default-user.jpg" alt="user-img" />

                <p class="mt-0 mb-0">
                    <small><b>{{ user.name }}</b></small>
                </p>
                <p class="mt-0 mb-0">
                    <small><b>{{ user.profile }}</b></small>
                </p>
                <p class="mt-0 mb-0">
                    <small>{{ user.create | date:'medium' }}</small>
                </p>
            </div>
            
            <a class="dropdown-item" routerLink="/profile">
                <i class="fa fa-user mr-2"></i>Perfil
            </a>
            <a class="dropdown-item" *ngIf="user.profile.includes('ADMIN')"
                routerLink="/app/administracion/configuracion">
                <i class="fa fa-cog mr-2"></i>Configuración
            </a>
            <a class="dropdown-item" routerLink="/app/administracion/cambiarClave">
                <i class="fa fa-lock mr-2"></i>Cambiar contraseña
            </a>
            <a class="dropdown-item mb-1" (click)="authService.goLogout()">
                <i class="fa fa-power-off mr-2"></i>Cerrar sesión
            </a>

        </div>
    </div>
</div>