.dropdown-menu .user-menu {
    width: 240px;
    padding: 0;

    .user-img {
        width: 100px;
    }

    .dropdown-item {
        color: #666 !important;
    }

}
.dropdown-menu.user-menu-content {
    max-height: 320px !important;
}