$size: 40px;

.back-to-top {
  position: fixed;
  width: $size;
  height: $size;
  cursor: pointer;
  z-index: 999999;
  display: none;
  text-decoration: none;
  right: 40px;
  bottom: 40px !important;
  font-size: 28px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  line-height: 34px;
  animation: fadeInUp 0.5s;
}
