<div class="ui-g-offset-4 ui-sm-offset-4 ui-md-offset-4 ui-lg-5 ui-md-8 ui-sm-12">
  <p-panel header="Cambio de Contraseña">
    <div class="row">
      <div class="ui-lg-12 ui-md-12 ui-sm-12 ">
        <div class="card-body widget-body">
          <form class="form">
            <div class="form-group">
              <label for="password-b-f">Contraseña actual</label>
               <input id="password-currentPassword" type="password" pPassword size="30"  [(ngModel)]="cambioContrasenia.currentPassword"  name="currentPassword" />

            </div>
            <div class="form-group">
              <label for="password-b-f">Nueva contraseña</label>
              <input id="password-newPassword" type="password" pPassword size="30"  [(ngModel)]="cambioContrasenia.newPassword"  name="newPassword" />

             </div>
            <div class="form-group">
              <label for="password-repeatPassword">Repetir nueva contraseña</label>
              <input id="password-repeatPassword" type="password" pPassword size="30"  [(ngModel)]="cambioContrasenia.repeatPassword"  name="repeatPassword" />
            </div>

            <div class="form-group">
                     <button pButton type="button" label="Guardar" (click)="cambiarContrasenia()" class="ui-button-rounded btn-block"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </p-panel>
</div>
