<p-messages [(value)]="msgs"></p-messages>

<div class="ui-g">
    <div class="ui-g-12">
        <h5>Message</h5>
    </div>
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
            <button type="button" pButton (click)="showSuccess()" label="Success" class="ui-button-success"></button>
    </div>
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
            <button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-info"></button>
    </div>
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
            <button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning"></button>
    </div>
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
            <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button>
    </div>

    <div class="ui-sm-6 ui-md-4 ui-lg-4">
            <button type="button" pButton (click)="showMultiple()" label="Multiple"></button>
    </div>
    <div class="ui-sm-6 ui-md-4 ui-lg-4">
            <button type="button" pButton (click)="showViaService()" label="Use Service"></button>
    </div>
    <div class="ui-sm-6 ui-md-4 ui-lg-4">
            <button type="button" pButton (click)="clear()" icon="pi pi-times" style="float:right" label="Clear"></button>
    </div>
</div>
<div class="ui-g">
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
            <p-message severity="info" text="PrimeNG Rocks"></p-message>
    </div>
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
            <p-message severity="success" text="Record Saved"></p-message>
    </div>
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
            <p-message severity="warn" text="Are you sure?"></p-message>
    </div>
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
            <p-message severity="error" text="Field is required"></p-message>
    </div>
</div>

<div class="ui-g">
    <div class="ui-sm-12 ui-md-6 ui-lg-3">
        <input type="text" pInputText placeholder="Username" class="ng-dirty ng-invalid">
        <p-message severity="error" text="Field is required"></p-message>
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-3">
        <input type="text" pInputText placeholder="Email" class="ng-dirty ng-invalid">
        <p-message severity="error"></p-message>
    </div>
</div>