<ol class="breadcrumb a-5ms fadeInUp" *ngIf="isVisibleBreadcrumb">
    <li *ngIf="router.url != '/app/main'" class="breadcrumb-item">
        <a routerLink="/app" (click)="closeSubMenus()"
            class="text-primary">
            <i class="fa fa-home mr-2"></i>  {{ 'APP.BREADCRUMB.HOME' | translate }}


        </a>
    </li>
    <li *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="breadcrumb-item a-5ms flipInX">
        <!-- <a [hidden]="i == (breadcrumbs.length - 1)" [routerLink]="[breadcrumb.url]">
            {{ breadcrumb.name }}
        </a> -->
        <b [hidden]="i == (breadcrumbs.length - 1)">
            {{ breadcrumb.name }}
        </b>
        <span [hidden]="i != (breadcrumbs.length - 1)">
            <i *ngIf="router.url == '/app/main'" class="fa fa-home mr-2"></i>
            <b>{{ breadcrumb.name }} </b>
        </span>
    </li>
</ol>
