@import "../../../../assets/sass/core/variables";


.horizontal-menu-wrapper{
    min-height: $horizontal-menu-height;
}
#navigation{ 
    margin-left: auto;
    margin-right: auto;
   .menu{
       margin-bottom: 0;
       li{
            display: inline-block;
            position: relative;
            a{
                font-size: 1rem;
                display: block;
                padding: 0.6em 1em; 
                cursor: pointer;              
                i{
                    margin-right: 0.7143rem;
                }
            }
            &.menu-item-has-children > a:after {
                font-family: FontAwesome;
                content: "\f107";
                margin-left: 0.7143rem;
                font-size: 0.9286rem;
            }            
       }

   }
}

#navigation .menu .sub-menu{
  display: none;
  padding: 0;
  position: absolute;
  margin-top:0;
  left: 0;
  z-index: 99999; 
  text-align: left;   
}  
#navigation ul.menu ul a,
#navigation .menu ul ul a {
  margin: 0;
  font-size: 1rem;
  padding: 0.4286rem 0.7143rem;
  min-width: 13.5rem;
  line-height: 1.429rem;
}
#navigation ul.menu li:hover > ul,
#navigation .menu ul li:hover > ul {
  display: block;
}  
#navigation .menu .sub-menu ul { 
  left: 100%;
  top: 0;
}
#navigation ul.sub-menu > li.menu-item-has-children > a:after {
  font-family: FontAwesome;
  content: "\f105";
  float: right;
  font-size: 0.9286rem;
}