@import "../../../assets/sass/core/variables";

.sidebar-outer {
    height: 100%; 
    width: $sidebar-width;
    .logo {
        height: $top-navbar-height;
        padding: 0 1rem;
        width: $sidebar-width;

        & img { height: 2.857rem; }
    }    
}



// @media (max-width: 768px){
//     .sidebar-outer .logo{
//         width: 50px;
//          .start{
//                 display: none;
//             }
//     }
// }




// .collapsing {
// //   position: relative;
// //   height: 0;
// //   overflow: hidden;
//   -webkit-transition: height .15s ease;
//        -o-transition: height .15s ease;
//           transition: height .15s ease;
// }