<!-- <div class="sidebar-outer a-5ms fadeInLeft" *blockUI="'hero-section'"> -->
<div class="sidebar-outer a-5ms fadeInLeft">
    <a class="logo d-flex align-items-center justify-content-center"
        routerLink="/app" (click)="closeSubMenus()"
        *ngIf="settings.theme.sidebarIsFixed">
        <span class="start">
            <img [src]="settings.logotipo" *ngIf="settings.logotipo"
                alt="Logotipo teclo" />
            <img [src]="assets+'/img/app/logotipo.png'" *ngIf="!settings.logotipo"
                alt="Logotipo teclo" />
        </span>
        <span class="ng" *ngIf="settings.theme.menuType === 'mini'">
            <img [src]="settings.isotipo" *ngIf="settings.isotipo"
                alt="Isotipo teclo" />
            <img [src]="assets+'/img/app/isotipo.png'" *ngIf="!settings.isotipo"
                alt="Isotipo teclo" />
        </span>
    </a>

    <app-vertical-menu *ngIf="appSettings.isLoadMenu" [menuItems]="menuItems"></app-vertical-menu>
</div>
