$path-flags: '../../../assets/img/flags';

.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.flag-icon:before {
    content: "\00a0";
}

.flag-icon-mx { background-image: url('#{$path-flags}/mx.svg'); }

.flag-icon-us { background-image: url('#{$path-flags}/us.svg'); }

.flag-icon-gb { background-image: url('#{$path-flags}/gb.svg'); }

.flag-icon-de { background-image: url('#{$path-flags}/de.svg'); }

.flag-icon-fr { background-image: url('#{$path-flags}/fr.svg'); }

.flag-icon-ru { background-image: url('#{$path-flags}/ru.svg'); }

.flag-icon-tr { background-image: url('#{$path-flags}/tr.svg'); }
