<div class="dropdown d-inline-block">

  <a class="dropdown-toggle no-caret pl-2 pr-2" id="flags-menu"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="flag-icon {{ flagSelected }}"></span>
  </a>

  <div class="dropdown-menu dropdown-menu-right rounded-0 mt-3 p-0 box-shadow"
    aria-labelledby="flags-menu">
    <div class="flags-menu">          
      <a class="dropdown-item" (click)="changeLanguage('es', 'flag-icon-mx')"
        [ngClass]="{ 'active': flagSelected === 'flag-icon-mx' }">
        <span class="flag-icon flag-icon-mx mr-2"></span>
        <span translate>APP.LANGUAGE.ES</span>
      </a> 
      <a class="dropdown-item" (click)="changeLanguage('en', 'flag-icon-us')"
        [ngClass]="{ 'active': flagSelected === 'flag-icon-us' }">
        <span class="flag-icon flag-icon-us mr-2"></span>
        <span translate>APP.LANGUAGE.EN</span>
      </a>
    </div>
  </div>

</div>
