
<div class="ui-g">
    <div class="ui-sm-12 ui-md-12 ui-lg-12 text-center">
        <h5>Angular 8 Reactive Form Validación</h5>
    </div>
  <div class="ui-sm-12 ui-md-10 ui-lg-10 ui-md-offset-1 ui-lg-offset-1">
      <form [formGroup]="registerForm" (ngSubmit)="signup();">
        <div class="formbox">
          <div class="form-group">
            <input type="text" formControlName="fullName" class="form-control" placeholder="Nombre completo"
              [ngClass]="{ 'is-invalid': submitted && fval.fullName.errors }" />
            <div *ngIf="submitted && fval.fullName.errors" class="invalid-feedback">
              <div *ngIf="fval.fullName.errors.required">
                Nombre es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="email" formControlName="email" class="form-control" placeholder="Email"
              [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" />
            <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
              <div *ngIf="fval.email.errors.required">Email es requerido</div>
              <div *ngIf="fval.email.errors.email">Introduce email correcto</div>
            </div>
          </div>

          <div class="form-group">
            <input type="text" formControlName="phone" class="form-control" placeholder="Numero de telefono"
              maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && fval.phone.invalid }" required />
            <div *ngIf="submitted && fval.phone.errors" class="invalid-feedback">
              <div *ngIf="fval.phone.errors.required">Numero de telefono es requerido</div>
            </div>
            <div *ngIf="submitted && fval.phone.errors.minlength" class="invalid-feedback">
              <div *ngIf="fval.phone.errors.required">numero corto</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control" placeholder="Password"
              [ngClass]="{ 'is-invalid': submitted && fval.password.errors}" />
            <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
              <div ngClass="fval.password.errors.required">
                Password es requerido.
              </div>
              <div *ngIf="fval.password.errors.minlength">
                no cumple el minimo
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password"
              [ngClass]="{ 'is-invalid': submitted && fval.confirmPassword.errors }"
              appConfirmEqualValidator='password' />
            <div *ngIf="submitted && fval.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="fval.confirmPassword.errors.required">
                Confirmacion de password es requerida
              </div>
              <div *ngIf="fval.confirmPassword.errors?.notEqual">
                Password diferentes
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="checkboxrow">
              <input type="checkbox" class="form-check-input" id="tnc" formControlName="tnc"
                [ngClass]="{ 'is-invalid': submitted && fval.tnc.errors }">
              <label for="tnc" class="form-check-label">Acepto terminos y condiciones </label>
              <div *ngIf="submitted && fval.tnc.errors" class="invalid-feedback">
                <div>
                  Por favor acepte, terminos y condiciones
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary signin">Aceptar</button>
          </div>
        </div>
      </form>
  </div>
</div>
