<div class="views-content text-center">
    <!-- Grid -->
    <p-panel header="Grid" [toggleable]="true">
        <app-grid></app-grid>
    </p-panel>
    <!-- Botones -->
    <p-panel header="Button" [toggleable]="true">
        <div class="ui-g">
            <app-boton></app-boton>
        </div>
    </p-panel>
    <!-- Input -->
    <p-panel header="Input" [toggleable]="true">
        <app-input></app-input>
    </p-panel>
    <!-- Dropdown -->
    <p-panel header="Dropdown " [toggleable]="true">
        <app-dropdown></app-dropdown>
    </p-panel>
    <!-- Calendarios -->
    <p-panel header="Calendar" [toggleable]="true">
        <app-calendaro></app-calendaro>
    </p-panel>
    
    <!-- Checkbox - RadioButton -->
    <p-panel header="Checkbox - RadioButton " [toggleable]="true">
        <app-radiobutton></app-radiobutton>
    </p-panel>
    <!-- Panels -->
    <p-panel header="Panel " [toggleable]="true">
        <app-accordion></app-accordion>
    </p-panel>
    <!-- Mensajes -->
    <p-panel header="Messages" [toggleable]="true">
        <div class="ui-g">
            <div class="ui-sm-12 ui-md-6 ui-lg-6">
                <app-toast></app-toast>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-6">
                <app-mensaje></app-mensaje>
            </div>
        </div>
    </p-panel>
    <p-panel header="Overlay" [toggleable]="true">
      <div class="ui-g">
         <div class="ui-g-12">
           <app-confirmDialog></app-confirmDialog>
          </div>
          <div class="ui-g-12">
           <app-lightbox></app-lightbox>
          </div>
		   <div class="ui-g-12">
               <app-overlaypanel></app-overlaypanel>
            </div>
      </div>
    </p-panel>
    <!-- Multimedia -->
    <p-panel header="Multimedia" [toggleable]="true">
        <div class="ui-g">
            <div class="ui-g-12">
                    <app-fileupload></app-fileupload>
            </div>
        </div>
    </p-panel>
    <!-- Tablas -->
    <p-panel header="Table" [toggleable]="true">
        <app-smart></app-smart>
        <app-ngx></app-ngx>
        <app-basic-tables></app-basic-tables>
    </p-panel>


    <p-panel header="Drag and Drop" [toggleable]="true">
      <div class="ui-g">
        <div class="ui-g-12">
           <app-dragdrop></app-dragdrop>
         </div>      
      </div>
    </p-panel>

    <p-panel header="Validación de Formularios" [toggleable]="true">
        <div class="ui-g">
            <div class="ui-sm-12 ui-md-6 ui-lg-6">
               <app-formreactivo></app-formreactivo>
               
               <br>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-6">
               <app-formtemplate></app-formtemplate>
               
            </div>
        </div>
    </p-panel>
</div>
