<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">ng2-smart-table</h5>
        <div class="widget-controls">
            <a data-widgster="expand"  class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse"   class="transition"><i class="fa fa-chevron-up"></i></a>
            <a data-widgster="fullscreen"   class="transition"><i class="fa fa-expand"></i></a>
            <a data-widgster="restore"  class="transition"><i class="fa fa-compress"></i></a>
            <a data-widgster="close"   class="transition"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="card-body pt-0 widget-body">
        <p class="text-left fs-13 text-gray">Simple table component with editing, sorting, filtering and pagination for Angular. Built with <a href="https://github.com/akveo/ng2-smart-table" target="_blank" class="font-weight-bold transition">ng2-smart-table</a>.</p>
        <div class="table-responsive">
            <ng2-smart-table  class="table table-hover"
                              [settings]="settings"
                              [source]="data"
                              (deleteConfirm)="onDeleteConfirm($event)"
                              (rowSelect)="onRowSelect($event)"
                              (userRowSelect)="onUserRowSelect($event)"
                              (rowHover)="onRowHover($event)"></ng2-smart-table>
        </div>
    </div>
</div>
