<div class="views-content">
  <div class="contenido-principal-img">
      <img class="imgIntro" [src]="settings.imgMain" *ngIf="settings.imgMain" alt="Logotipo teclo" />
      <img class="imgIntro" [src]="assets+'/img/app/logotipo.png'" *ngIf="!settings.logotipo" alt="Logotipo teclo" />
  </div>
</div>
