<div class="ui-g">
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Basic</h5>
            <p-calendar [(ngModel)]="date1"></p-calendar>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Spanish</h5>
            <p-calendar [(ngModel)]="date2" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Icon</h5>
            <p-calendar [(ngModel)]="date3" [showIcon]="true"></p-calendar>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Min-Max</h5>
            <p-calendar [(ngModel)]="date4" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true"></p-calendar>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Disable Days</h5>
            <p-calendar [(ngModel)]="date5" [disabledDates]="invalidDates" [disabledDays]="[0,6]" [readonlyInput]="true"></p-calendar>
   
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Navigators</h5>
            <p-calendar [(ngModel)]="date6" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
    
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Time</h5>
            <p-calendar [(ngModel)]="date7" [showTime]="true"></p-calendar>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Time Only</h5>
            <p-calendar [(ngModel)]="date8" [timeOnly]="true"></p-calendar>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Multiple</h5>
            <p-calendar [(ngModel)]="dates" selectionMode="multiple" [readonlyInput]="true"></p-calendar>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Range</h5>
            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"></p-calendar>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Button Bar</h5>
            <p-calendar [(ngModel)]="date9" showButtonBar="true"></p-calendar>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Date Template</h5>
        <p-calendar [(ngModel)]="date11">
            <ng-template pTemplate="date" let-date>
                <span [ngStyle]="{backgroundColor: (date.day < 21 && date.day > 10) ? '#81C784' : 'inherit'}" style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span>
            </ng-template>
        </p-calendar>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Multiple Months</h5>
            <p-calendar [(ngModel)]="date11" [numberOfMonths]="3"></p-calendar>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Month Picker</h5>
            <p-calendar [(ngModel)]="date12" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar>
    
    </div>
    <div class="ui-sm-12 ui-md-4 ui-lg-4">
            <h5>Touch UI</h5>
            <p-calendar [(ngModel)]="date13" [touchUI]="true" [readonlyInput]="true"></p-calendar>
    </div>
    <div class="ui-sm-12 ui-md-12 ui-lg-12">
        <h5>Inline</h5>
        <p-calendar [(ngModel)]="date14" [inline]="true" [showWeek]="true"></p-calendar>
     </div>
</div>