$color-links: #fff;
$color-links-hover: #fff;

$top-navbar-bg-color: #5C3F36;
$top-navbar-text-color: #D6CBC7;
$logo-color: #fff;
$logo-ng-color: #fff;

$filter-scale-logoimg: grayscale(1) brightness(4) contrast(1);
$filter-color-logoimg: gray;

$main-bg-color: #f5f5f5;
$main-text-color: #565656;

$info-content-bg-color: #785447;
$info-content-icon-color: $top-navbar-text-color;

$messages-ddl-link-active-border-color: $top-navbar-bg-color;

$user-menu-bg-color: $top-navbar-bg-color;
$user-menu-text-color: $top-navbar-text-color;

$side-chat-item-color: #D6CBC7;
$side-chat-item-bg-color: #785447;
$side-chat-item-bottom-border-color: #f5f5f5;

$menunav-bg-color: #785447;
$menunav-text-color: #fff;

$sidebar-bg-color: #785447; 
$active-link-bg-color: #a57e71;
$active-link-text-color: #fff;
$sidebar-item-color: #D6CBC7;
$sidebar-item-hover-color: #fff;
$sidebar-item-hover-bg-color: $top-navbar-bg-color;
$sidebar-item-bottom-border-color: $top-navbar-bg-color;
$sidebar-item-bottom-border-shadow-color: #fff;
$sidebar-subitem-bg-color: #000;

$mini-sidebar-tooltip-color: #fff;
$mini-sidebar-tooltip-bg-color: #785447;
$mini-sidebar-tooltip-arrow-color: #785447; 

$mini-horizontal-menu-tooltip-color: #fff;
$mini-horizontal-menu-tooltip-bg-color: #000;
$mini-horizontal-menu-tooltip-arrow-color: #000;

$footer-bg-color: #5C3F36; 

$box-shadow-color: $sidebar-bg-color;

$card-header-color: #f2f2f2;
$card-header-bg-color: #f3f3f3;

$login-window-bg-color: #a57e71;
$login-header-bg-color: #785447;
$login-text-color: #F5F5F5;


$widget-controls-color: #a6a6a6;

$form-control-focus-border-color: #785447;


$primary-color: #785447;
$dark-primary-color: #774b3b;
$success-color: #4BAE4F;
$dark-success-color: #378D3B;
$info-color: #00BBD3;
$dark-info-color: #0096A6;
$warning-color: #FE9700; 
$dark-warning-color: #F47B00;
$danger-color: #F34235;
$dark-danger-color: #D22E2E;
$gray-color: #9D9D9D;
$dark-gray-color: #606060;
$inverse-color: #292B2C;
$dark-inverse-color: #1C1E1F;

$breadcrumb-bg-color: #fff;
$breadcrumb-color: #3E50B4;

// COMPONENTES
// Slider
$color-line-slider: #d3d3d3;
$color-point-slider: #785447;

// SweetAlert
$border-color-swal: #785447;
