$color-links: #fff;
$color-links-hover: #fff;

$top-navbar-bg-color: #fff;
$top-navbar-text-color: #a6a6a6;
$logo-color: #000;
$logo-ng-color: #DD1B16;

$filter-scale-logoimg: none;
$filter-color-logoimg: none;

$main-bg-color: #f5f5f5;
$main-text-color: #565656;

$info-content-bg-color: #262626;
$info-content-icon-color: #fff;

$messages-ddl-link-active-border-color: #ccc;

$user-menu-bg-color: #eceeef;
$user-menu-text-color: #262626;

$side-chat-item-color: #979797;
$side-chat-item-bg-color: #262626;
$side-chat-item-bottom-border-color: #f5f5f5;

$menunav-bg-color: #55565a;
$menunav-text-color: #fff;

$sidebar-bg-color:  #262626;
$active-link-bg-color: #dd1b16; //#333333;
$active-link-text-color: #fff;
$sidebar-item-color: #979797;
$sidebar-item-hover-color: #fff;
$sidebar-item-hover-bg-color: #171717;
$sidebar-item-bottom-border-color: #171717;
$sidebar-item-bottom-border-shadow-color: #fff;
$sidebar-subitem-bg-color: #000;

$mini-sidebar-tooltip-color: #fff;
$mini-sidebar-tooltip-bg-color: $sidebar-bg-color;
$mini-sidebar-tooltip-arrow-color: $sidebar-bg-color;

$mini-horizontal-menu-tooltip-color: #fff;
$mini-horizontal-menu-tooltip-bg-color: #000;
$mini-horizontal-menu-tooltip-arrow-color: #000;

$footer-bg-color: #171717;

$box-shadow-color: $sidebar-bg-color;

$card-header-color: #f2f2f2;
$card-header-bg-color: #f3f3f3;

$login-window-bg-color: #262626;
$login-header-bg-color: #DD1B16;
$login-text-color: #efefef;


$widget-controls-color: #a6a6a6;

$form-control-focus-border-color: #262626;

$primary-color: #262626;
$dark-primary-color: #222020;
$success-color: #4BAE4F;
$dark-success-color: #378D3B;
$info-color: #00BBD3;
$dark-info-color: #0096A6;
$warning-color: #FE9700; 
$dark-warning-color: #F47B00;
$danger-color: #F34235;
$dark-danger-color: #D22E2E;
$gray-color: #9D9D9D;
$dark-gray-color: #606060;
$inverse-color: #292B2C;
$dark-inverse-color: #1C1E1F;

$breadcrumb-bg-color: #fff;
$breadcrumb-color: #3E50B4;

// COMPONENTES
// Slider
$color-line-slider: #d3d3d3;
$color-point-slider: #262626;

// SweetAlert
$border-color-swal: #262626;
