/*******************************************
****** APP *********************************
*/
// Color de los enlaces -Nota:  las etiquetas a deben tener la clase "link-app"
// para que se apliquen estos colores
$color-links: #cf0a2c;
// Color de los enlaces al pasar el puntero
$color-links-hover: #cf0a2c;

/*******************************************
***** CABECERA *****************************
*/
// Color de fondo de la cabecera
$top-navbar-bg-color: #fff;
// Color de texto de la cabecera y el pie de página
$top-navbar-text-color: #969597;
// Color de texto del logo de la cabecera
$logo-color: #55565a;
// Color de texto secundario del logo de la cabecera
$logo-ng-color: #cf0a2c;

// Filtro para la imagen del logo
// Nota: Si no se quiere aplicar ningún filtro definir los valores en "none"
$filter-scale-logoimg: none;
$filter-color-logoimg: none;

/*******************************************
***** PANTALLA *****************************
*/
// Color de fondo del contenido de cada pantalla
$main-bg-color: #ecf0f5;
// Color de texto del contenido de cada pantalla
$main-text-color:#55565a;

/*******************************************
***** CABECERA *****************************
*/
// Color de fondo de la info que se muestra arriba de la cabecera
$info-content-bg-color: #ececec;
// Color de los iconos que se muestra en la info arriba de la cabecera
$info-content-icon-color: $top-navbar-text-color;

// ---------> Pendiente de verificar
$messages-ddl-link-active-border-color: #ccc;

/*******************************************
***** CABECERA *****************************
*/
// Color de fondo del menu desplegable del usuario que está en la cabecera
$user-menu-bg-color: #eceeef;
// Color de texto del menu desplegable del usuario que está en la cabecera
$user-menu-text-color: #55565a;

// Color de los iconos de los usuarios en el chat y del chat
$side-chat-item-color: #666666;
// Color de fondo de los usuarios en el chat y del chat
$side-chat-item-bg-color: #c2c2c2;
// Color del borde de abajo de cada usuario en el chat
$side-chat-item-bottom-border-color: #f5f5f5;

/*******************************************
***** MENÚ *********************************
*/

$menunav-bg-color: #cf0a2c;
$menunav-text-color: #fff;

// Color de fondo del menú
$sidebar-bg-color: #f6f6f6;
// Color de cada elemento en el menú cuando está activo
$active-link-bg-color: #ececec;
// Color de texto elemento en el menú cuando está activo
$active-link-text-color: #cf0a2c;
// Color del texto de cada elemento en el menú
$sidebar-item-color: #55565a;
// Color del texto de cada elemento al pasar el mouse sobre él
$sidebar-item-hover-color: #cf0a2c;
// Color de fondo de cada elemento del menú al pasar el mouse sobre él
$sidebar-item-hover-bg-color: #f1f1f1;
// Color de borde inferior de cada elemento del menú (menú y submenu)
$sidebar-item-bottom-border-color: #f6f6f6;
// Color de la sombra del borde
$sidebar-item-bottom-border-shadow-color: #fff;
// Color de fondo de los submenús
$sidebar-subitem-bg-color: #dddddd;

// Color del texto del tooltip cuando el menú es vertical y de tipo mini (donde solo se muestran los íconos)
$mini-sidebar-tooltip-color: lighten(#cf0a2c, 50%);
// Color de fondo del tooltip
$mini-sidebar-tooltip-bg-color: rgba(#cf0a2c, 0.9);
// Color de la flecha del tooltip
$mini-sidebar-tooltip-arrow-color: rgba(#cf0a2c, 0.9);

// Color del texto del tooltip cuando el menú es horizontal y de tipo mini (donde solo se muestran los íconos)
$mini-horizontal-menu-tooltip-color: #fff;
// Color de fondo del tooltip
$mini-horizontal-menu-tooltip-bg-color: #55565a;
// Color de la flecha del tooltip
$mini-horizontal-menu-tooltip-arrow-color: #55565a;

/*******************************************
***** FOOTER *******************************
*/
// Color de fondo del pie de página
$footer-bg-color: #fff;
// Color de la sombra para toda la aplicación
$box-shadow-color: #000;

$card-header-color: #404040;
$card-header-bg-color: #f3f3f3;

// Color de fondo del formulario del login
$login-window-bg-color: #fff;
// Color de fondo del botón del login
$login-header-bg-color: #9e9e9e;
// Color de texto del login
$login-text-color: #696969;

// ---------> Pendiente de verificar
$widget-controls-color: #a6a6a6;
// Color del borde de los inputs cuando se da clic sobre ellos
$form-control-focus-border-color: #666;

$primary-color: #cf0a2c;
$dark-primary-color: #c50d2b;
$success-color: #00BFA5;
$dark-success-color: #00BFA5;
$info-color: #00BBD3;
$dark-info-color: #0096A6;
$warning-color: #FE9700;
$dark-warning-color: #F47B00;
$danger-color: #d32f2f;
$dark-danger-color: #b71c1c;
$gray-color: #969597;
$dark-gray-color: #55565a;
$inverse-color: #292B2C;
$dark-inverse-color: #1C1E1F;

$breadcrumb-bg-color: #f6f6f6;
$breadcrumb-color: #cf0a2c;

// COMPONENTES
// Slider
$color-line-slider: #d3d3d3;
$color-point-slider: #cf0a2c;

// SweetAlert
$border-color-swal: #cf0a2c;
