<div class="app-footer d-flex align-items-center justify-content-between a-5ms fadeInDown"
    [class.fixed-bottom]="settings.theme.footerIsFixed">
    <small class="copyright">
        Derechos de autor © 2019
        <a href="http://teclomexicana.mx/" target="_blank" class="link-app">
            Teclo Mexicana.
        </a>
        Todos los derechos reservados
    </small>
    <span class="copyright">
        Versión {{ appSettings.version }}
    </span>
    <app-config-app></app-config-app>

</div>
