
<div class="ui-g">
    <div class="ui-sm-12 ui-md-12 ui-lg-12 text-center">
        <h5>Angular 8 Template Form Validación</h5>
    </div>
    <div class="ui-sm-12 ui-md-10 ui-lg-10 ui-md-offset-1 ui-lg-offset-1">
      <form name="signup_form" (ngSubmit)="fs.form.valid && signup(fs);" #fs="ngForm" novalidate>
        <div class="formbox">
            <div class="form-group">
              <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Full Name" name="fullname" [(ngModel)]="user.fullName" minlength="6" #fullName="ngModel" required pattern="^[A-Za-z ]+$" [ngClass]="{ 'is-invalid': fs.submitted && fullName.invalid }"/>
              <div *ngIf="fs.submitted && fullName.invalid" class="invalid-feedback">
                  <div *ngIf="fullName.errors.required">
                      Full Name is required and must be a valid name
                  </div>              
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" [(ngModel)]="user.email"
                #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngClass]="{ 'is-invalid': fs.submitted && email.invalid }" required />
              <div *ngIf="fs.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.email">Enter a valid email address</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone No." [(ngModel)]="user.phone" maxlength="12" minlength="10" #phone="ngModel" [ngClass]="{ 'is-invalid': fs.submitted && phone.invalid }" required />
              <div *ngIf="fs.submitted && phone.invalid" class="invalid-feedback">
                  <div *ngIf="phone.errors.required">Phone is required</div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" [ngClass]="{ 'is-invalid': fs.submitted && password.invalid}" required />
              <div *ngIf="fs.submitted && password.invalid"class="invalid-feedback">
                <div ngClass="password.errors.required">
                    Password is required and must be atleast six characters long.
                </div>
              </div>                  
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" [(ngModel)]="confirm_password" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': fs.submitted && confirmPassword.invalid }" required                appConfirmEqualValidator='password' />
              <div *ngIf="fs.submitted && confirmPassword.invalid" class="invalid-feedback">
                  <div *ngIf="confirmPassword.errors?.notEqual && !confirmPassword.errors?.required"
                  >Password Mismatch</div>
              </div>
              
            </div>
            <div class="form-group">
              <div class="checkboxrow">
                <input type="checkbox" id="test1" name="cb" #cb="ngModel" [(ngModel)]="user.cb" [required]="user.cb==null" [ngClass]="{ 'is-invalid': fs.submitted && cb.invalid }">
                <label for="test1" control-label>Agree with terms and conditions</label>
                <div *ngIf="fs.submitted && cb.invalid">
                    <div *ngIf="cb.errors.required">Please agree with terms and conditions</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <span style="text-align: center;color: #a94442">{{errorMsg}}</span>
              <span style="text-align: center;color: #28a745">{{sucsMsg}}</span>
              <button type="submit" class="btn btn-primary signin">
                  Guardar
              </button>
            </div>
          </div>
      </form>
    </div>
</div>      