<div class="titlemenu-vertical text-center pt-2 pb-2 text-white menu-nav"
    *ngIf="settings.theme.menuType === 'default'">
    <span class="menu-nav-text m-0"
        [translate]="'APP.MENU.TITLE'" style="display: none;">
    </span>
</div>
<div id="vertical-menu" class="menu-wrapper"
    perfectScrollbar>
</div>
