//@import "../../../../theme/styles/mixins";

.menu-wrapper{
    height: 100%;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);

    .card{
        border:0;
        border-radius: 0;
        background: transparent;
        a{
            cursor: pointer;
            // padding: 10px 0;
            // font-size: 14px;
            padding: 0.7143rem 0;
            font-size: 1rem;
            display: inline-block;
            width: 100%;
            outline: none;
            i{
                // padding: 0 12px;
                padding: 0 0.8571rem;
            }
            b{
                float: right;
                // margin-right: 15px;
                // margin-top: 4px;
                margin-right: 1.071rem;
                margin-top: 0.2857rem;
                -webkit-transition: -webkit-transform 0.2s linear;
                -moz-transition: -moz-transform 0.2s linear;
                -ms-transition: -ms-transform 0.2s linear;
                -o-transition: -o-transform 0.2s linear;
                transition: transform 0.2s linear;
            }
            &.collapsed b{
                -webkit-transform: rotate(-180deg);
                -moz-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                -o-transform: rotate(-180deg);
                transform: rotate(-180deg);
            }
        }   
    }
    .collapsing {
        -webkit-transition: height .25s ease;
        -o-transition: height .25s ease;
        transition: height .25s ease;
    }
}

// .sidebar-outer.compact{
//     a.menu-item-link{
//         padding-left: 0 !important;
//         text-align: center;
//         i{
//             display: block;
//             font-size: 28px;
//         }
//         b{
//             position: absolute;
//             margin: 0;
//             right: 8px;
//             top: 28px;
//         }
//     }
// }
// .sidebar-outer.mini{
//     a.menu-item-link{
//         padding-left: 0 !important;
//         text-align: center;
//         span.menu-title{
//             display: none;
//         }        
//         i{
//             display: block;
//             font-size: 28px;
//             padding: 4px 12px;
//         }
//         b{
//             position: absolute;
//             margin: 0;
//             right: 8px;
//             top: 20px;
//         }
//     }
// }




// .card.has-sub-menu .show .card > a > b{
//     -webkit-transform: rotate(180deg);
//     -moz-transform: rotate(180deg);
//     -ms-transform: rotate(180deg);
//     -o-transform: rotate(180deg);
//     transform: rotate(180deg);
// }





// .menu-wrapper .card .card a{
//     padding-left: 20px;
// }
// .menu-wrapper .card .card .card a{
//     padding-left: 40px;
// }
// .menu-wrapper .card .card .card .card a{
//     padding-left: 60px;
// }
// .menu-wrapper .card .card .card .card .card a{
//     padding-left: 80px;
// }
// .menu-wrapper .card .card .card .card .card .card a{
//     padding-left: 100px;
// }
// .menu-wrapper .card .card .card .card .card .card .card a{
//     padding-left: 120px;
// }