html,
body {
    height: 100%;
    font-size: $fontsize-main;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #3E50B4;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #2F3E9E;
}

.app, #mainContent {
    background-color: #f5f5f5;
    height: 100%;

    .wrapper {
        height: 100%;
    }

    &.light {
        @import "skins/light";
        @import "theme";
        @import "primengoverride";
    }

    &.dark {
        @import "skins/dark";
        @import "theme";
        @import "primengoverride";
    }

    &.blue {
        @import "skins/blue";
        @import "theme";
        @import "primengoverride";
    }

    &.green {
        @import "skins/green";
        @import "theme";
        @import "primengoverride";
    }

    &.combined {
        @import "skins/combined";
        @import "theme";
        @import "primengoverride";
    }

    &.purple {
        @import "skins/purple";
        @import "theme";
        @import "primengoverride";
    }

    &.orange {
        @import "skins/orange";
        @import "theme";
        @import "primengoverride";
    }

    &.brown {
        @import "skins/brown";
        @import "theme";
        @import "primengoverride";
    }

    &.grey {
        @import "skins/grey";
        @import "theme";
        @import "primengoverride";
    }

    &.pink {
        @import "skins/pink";
        @import "theme";
        @import "primengoverride";
    }
    &.tema-tecloLight {
        @import "skins/teclolight";
        @import "theme";
        @import "primengoverride";
    }

    &.horizontal-menu {
        .main-content {
            min-height: calc(100vh - (#{$top-navbar-height} + #{$horizontal-menu-height} + #{$footer-height}));
        }

        .navbar.app-header .top-navbar .logo {
            // width: $sidebar-compact-width - 30px;
            width: $sidebar-compact-width - 2.143rem;
        }

        .side-chat {
            // top: $top-navbar-height + $horizontal-menu-height +1px;
            top: $top-navbar-height + $horizontal-menu-height +0.07143rem;

            .chat-list {
                padding-bottom: $top-navbar-height + $chat-person-search-media-height + $horizontal-menu-height;
            }

            .chat-window .chat-talk-list {
                height: calc(100vh - (#{$top-navbar-height} + #{$chat-window-header-height} + #{$chat-window-footer-height} + #{$horizontal-menu-height}));
            }
        }

        &.compact {
            .main-content {
                min-height: calc(100vh - (#{$top-navbar-height} + #{$horizontal-compact-menu-height} + #{$footer-height}));
            }

            .side-chat {
                // top: $top-navbar-height + $horizontal-compact-menu-height +1px;
                top: $top-navbar-height + $horizontal-compact-menu-height +0.07143rem;

                .chat-list {
                    padding-bottom: $top-navbar-height + $chat-person-search-media-height + $horizontal-compact-menu-height;
                }

                .chat-window .chat-talk-list {
                    height: calc(100vh - (#{$top-navbar-height} + #{$chat-window-header-height} + #{$chat-window-footer-height} + #{$horizontal-compact-menu-height}));
                }
            }
        }

        &.mini {
            .main-content {
                min-height: calc(100vh - (#{$top-navbar-height} + #{$horizontal-mini-menu-height} + #{$footer-height}));
            }

            .navbar.app-header .top-navbar .logo {
                // width: $sidebar-compact-width - 30px;
                width: $sidebar-compact-width - 2.143rem;

                .start {
                    display: inline;
                }
            }

            .side-chat {
                top: $top-navbar-height + $horizontal-mini-menu-height +0.07143rem;

                .chat-list {
                    padding-bottom: $top-navbar-height + $chat-person-search-media-height + $horizontal-mini-menu-height;
                }

                .chat-window .chat-talk-list {
                    height: calc(100vh - (#{$top-navbar-height} + #{$chat-window-header-height} + #{$chat-window-footer-height} + #{$horizontal-mini-menu-height}));
                }
            }

            &.menu-hide {
                .navbar.app-header .top-navbar .logo .start {
                    display: none;
                }
            }
        }
    }

    &.navbar-fixed {
        .wrapper-inner {
            padding-top: $top-navbar-height;
        }

        &.horizontal-menu {
            .wrapper-inner {
                padding-top: $top-navbar-height + $horizontal-menu-height;
            }

            &.menu-hide {
                .wrapper-inner {
                    padding-top: $top-navbar-height;
                }
            }

            &.compact {
                .wrapper-inner {
                    padding-top: $top-navbar-height + $horizontal-compact-menu-height;
                }

                &.menu-hide {
                    .wrapper-inner {
                        padding-top: $top-navbar-height;
                    }
                }
            }

            &.mini {
                .wrapper-inner {
                    padding-top: $top-navbar-height + $horizontal-mini-menu-height;
                }

                &.menu-hide {
                    .wrapper-inner {
                        padding-top: $top-navbar-height;
                    }
                }
            }
        }
    }

    &.sidebar-fixed {
        .main-content {
            // padding-left: $sidebar-width + 25px;
            padding-left: $sidebar-width + 1.786rem;
        }

        .app-footer {
            // padding-left: $sidebar-width + 25px;
            padding-left: $sidebar-width + 1.786rem;
            z-index: 1;
        }

        .sidebar-outer {
            position: fixed;
            top: 0;
            z-index: 999;
            padding-bottom: $top-navbar-height;
        }

        &.compact {

            .main-content,
            .app-footer {
                // padding-left: $sidebar-compact-width + 25px;
                padding-left: $sidebar-compact-width + 1.786rem;
            }
        }

        &.mini {

            .main-content,
            .app-footer {
                // padding-left: $sidebar-mini-width + 25px;
                padding-left: $sidebar-mini-width + 1.786rem;
            }
        }

        &.menu-hide,
        &.horizontal-menu {

            .main-content,
            .app-footer {
                // padding-left: 25px;
                padding-left: 1.786rem;
            }
        }
    }

    &.compact {
        .navbar.app-header .top-navbar .logo {
            // width: $sidebar-compact-width - 30px;
            width: $sidebar-compact-width - 1.786rem;
        }

        .sidebar-outer {
            width: $sidebar-compact-width;

            .logo {
                width: $sidebar-compact-width;
                // padding: 0 14px !important;
                padding: 0 1rem !important;
            }

            a.menu-item-link {
                padding-left: 0 !important;
                text-align: center;

                i {
                    display: block;
                    // font-size: 28px;
                    font-size: 2rem;
                }

                b {
                    position: absolute;
                    margin: 0;
                    // right: 8px;
                    // top: 28px;
                    right: 0.5714rem;
                    top: 2rem;
                }
            }
        }

        .horizontal-menu-wrapper {
            height: $horizontal-compact-menu-height;
        }

        #navigation .menu li a {
            text-align: center;

            i {
                margin: 0;
                display: block;
            }
        }

        #navigation ul.menu ul a,
        #navigation .menu ul ul a {
            text-align: left;

            i {
                // margin-right: 10px;
                margin-right: 0.7143rem;
                display: inline;
            }
        }
    }

    &.mini {
        .navbar.app-header .top-navbar .logo {
            // width: $sidebar-mini-width - 15px;
            width: $sidebar-mini-width - 1.071rem;

            .start {
                display: none;
            }
        }

        .sidebar-outer {
            width: $sidebar-mini-width;

            .logo {
                width: $sidebar-mini-width;

                .start {
                    display: none;
                }
            }

            a.menu-item-link {
                padding-left: 0 !important;
                text-align: center;

                span.menu-title {
                    display: none;
                }

                i {
                    display: block;
                    // font-size: 28px;
                    // padding: 4px 12px;
                    font-size: 2rem;
                    padding: 0.2857rem 0.8571rem;
                }

                b {
                    position: absolute;
                    margin: 0;
                    // right: 8px;
                    // top: 20px;
                    right: 0.5714rem;
                    top: 1.429rem;
                }
            }
        }

        .horizontal-menu-wrapper {
            height: $horizontal-mini-menu-height;
        }

        #navigation .menu li a {
            // width: 60px;
            width: 4.286rem;
            text-align: center;

            span.menu-title {
                display: none;
            }

            i {
                margin: 0;
                display: inline;
                // font-size: 28px;
                font-size: 2rem;
            }
        }

        #navigation .menu li.menu-item-has-children>a:after {
            content: none;
        }

        #navigation ul.menu ul a,
        #navigation .menu ul ul a {
            // width: 60px;
            // min-width: 60px;
            width: 4.286rem;
            min-width: 4.286rem;
            text-align: center;

            i {
                margin: 0;
                display: inline;
            }
        }
    }

    &.menu-hide {
        .navbar.app-header .top-navbar .logo {
            width: 3.929rem !important;

            .start {
                display: none;
            }
        }

        .sidebar-outer {
            width: 0;

            .menu-wrapper {
                display: none;
            }

            .logo {
                display: none !important;
            }
        }

        .horizontal-menu-outer {
            height: 0;
            display: none;
        }
    }
}

.contenido-principal-img{
    overflow: hidden;
    max-height: 520px;
}

.imgIntro {
  width: 100%;
  height: calc(100vh - 8vw) !important;
  /*max-height: 34.0rem;*/
}

.transition {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.overflow-visible {
    overflow: visible !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.text-white {
    color: #fff;
}

.bg-white {
    background-color: #fff;
}

.bg-transparent {
    background-color: transparent;
}

.box-shadow-none {
    box-shadow: none !important;
}

.fs-12 {
    font-size: 0.8571rem;
}

.fs-13 {
    font-size: 0.9286rem;
}

.w-50p {
    width: 3.571rem;
}

.w-100p {
    width: 7.143rem;
}

.h-100p {
    height: 7.143rem;
}

.w-280p {
    width: 17.71rem;
}

.h-300p {
    height: 21.43rem;
}

.pt-2p {
    padding-top: 2px;
}

.card-block-scrolling {
    overflow-y: auto;
    border-top: 1px solid #ccc;
    padding-top: 1.071rem !important;
}

.card.fullscreened {
    z-index: 999998 !important;
}

.fa-select {
    font-family: 'FontAwesome', 'Helvetica';
}

@media (max-width: 768px) {
    .horizontal-menu {
        .logo {
            // width: 55px !important;
            width: 3.929rem !important;

            .start {
                display: none !important;
            }
        }
    }

    .app {
        //overflow-x: hidden;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    .card-columns {
        .card {
            // margin-bottom: 20px;
            margin-bottom: 1.429rem;
        }
    }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
