// @font-face {
//     font-family: 'MoonHouse'; /*a name to be used later*/
//     src: url('~/assets/fonts/moonhouse.ttf') format('truetype'); /*URL to font*/
// }

$path-fonts: 'assets/fonts/fontsprimeng';

/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url('#{$path-fonts}/open-sans-v15-latin-300.eot');
  /* IE9 Compat Modes */
  src: local("Open Sans Light"),local("OpenSans-Light"),
    url("#{$path-fonts}/open-sans-v15-latin-300.eot?#iefix") format("embedded-opentype"),
    url("#{$path-fonts}/open-sans-v15-latin-300.woff2") format("woff2"),
    url("#{$path-fonts}/open-sans-v15-latin-300.woff") format("woff"),
    url("#{$path-fonts}/open-sans-v15-latin-300.ttf") format("truetype"),
    url("#{$path-fonts}/open-sans-v15-latin-300.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("#{$path-fonts}/open-sans-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("#{$path-fonts}/open-sans-v15-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("#{$path-fonts}/open-sans-v15-latin-regular.woff2") format("woff2"),
    url("#{$path-fonts}/open-sans-v15-latin-regular.woff") format("woff"),
    url("#{$path-fonts}/open-sans-v15-latin-regular.ttf") format("truetype"),
    url("#{$path-fonts}/open-sans-v15-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("#{$path-fonts}/open-sans-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("#{$path-fonts}/open-sans-v15-latin-700.eot?#iefix") format("embedded-opentype"),
    url("#{$path-fonts}/open-sans-v15-latin-700.woff2") format("woff2"),
    url("#{$path-fonts}/open-sans-v15-latin-700.woff") format("woff"),
    url("#{$path-fonts}/open-sans-v15-latin-700.ttf") format("truetype"),
    url("#{$path-fonts}/open-sans-v15-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}