@import "mixins";
@import "bootstrapoverride";

/*Top Navbar*/
.top-navbar{
    background-color: $top-navbar-bg-color;
    color: $top-navbar-text-color;
    .app-search{
        border-bottom: 1px solid $top-navbar-text-color;
        .form-control{
            color: $top-navbar-text-color;
        }
        @include placeholder-color($top-navbar-text-color, 0.8);
        i{
            color: $top-navbar-text-color;
        }
    }
    a{
        color: $top-navbar-text-color;
    }
}

.logo{
    color: $logo-color !important;
    .ng{
        color: $logo-ng-color;
    }
}

.menu-icon .line{
    background-color: $top-navbar-text-color;
}

#info-content-icon{
    .triangle{
        border-color: $top-navbar-text-color transparent transparent transparent;
    }
    &.show{
        background: $info-content-bg-color;
        box-shadow: 0px 0px 0px 0.5714rem $info-content-bg-color, 0px -1.143rem 0px 0.5714rem $info-content-bg-color;
        .triangle{
            border-color: $info-content-icon-color transparent transparent transparent;
        }
    }
}

.btn.btn-default {
    background-color: #ececec !important;

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
    }
}
a.link-app {
    color: $color-links !important;
    &:hover { color: $color-links-hover; }
}

.menu-wrapper .card a{
    color: $sidebar-item-color;
    border-bottom: 1px solid rgba($sidebar-item-bottom-border-color, 0.5);
    box-shadow: 0 1px 0 0 rgba($sidebar-item-bottom-border-shadow-color, 0.1);
    &:hover{
        color: $sidebar-item-hover-color;
        background-color: $sidebar-item-hover-bg-color !important;
    }
    &.active-link{
        background-color: $active-link-bg-color !important;
        color: $active-link-text-color;
    }
}
.menu-wrapper .card{
    @include menu-level-bg-color($sidebar-subitem-bg-color);
}

.wrapper, .wrapper-inner{
    background-color: $main-bg-color;
    color: $main-text-color;
}

#info-content{
    background-color: $info-content-bg-color;
    a.close{
        color: $top-navbar-text-color;
    }
    .info{
        color: $top-navbar-text-color;
        .form-control{
            background-color: $info-content-bg-color;
            border-color: rgba($top-navbar-text-color, 0.4);
            color: $top-navbar-text-color;
        }
        @include placeholder-color($top-navbar-text-color, 0.7);
    }
    .left-border{
        border-left: 1px solid rgba($top-navbar-text-color, 0.3);
    }
}

.dropdown-menu .user-menu .user-info{
    background-color: $user-menu-bg-color;
    color: $user-menu-text-color;
}

/*Sidebar*/
.sidebar-outer {
     background-color: $sidebar-bg-color;
    .logo{
        background-color: $top-navbar-bg-color;
    }
    & .titlemenu-vertical {
        background-color: $menunav-bg-color;
        & .menu-nav-text { color: $menunav-text-color; }
    }
}

.sidebar-outer, .navbar {
    & .logo img {
        -moz-filter: $filter-scale-logoimg;
        -ms-filter: $filter-scale-logoimg;
        -o-filter: $filter-scale-logoimg;
        -webkit-filter: $filter-scale-logoimg;
        filter: $filter-scale-logoimg;
        filter: $filter-color-logoimg;
    }

    #vertical-menu.menu-wrapper {
        & .menu-nav {
            background-color: $menunav-bg-color;

            & .menu-nav-text { color: $menunav-text-color; }
        }
    }
}

.vertical-menu-tooltip-place{
     .tooltip {
        opacity: 1;
        &.bs-tooltip-right {
            .arrow::before {
                border-right-color: $mini-sidebar-tooltip-arrow-color;
            }
        }
        &.bs-tooltip-bottom {
            .arrow::before {
                border-bottom-color: $mini-sidebar-tooltip-arrow-color;
            }
        }
    }
    .tooltip-inner {
        color: $mini-sidebar-tooltip-color;
        background-color: $mini-sidebar-tooltip-bg-color;
    }
}


/*Horizontal-menu*/
.horizontal-menu-outer{
    background-color: $sidebar-bg-color;
}
#navigation{
    .menu{
        li{
            border-right: 1px solid rgba($sidebar-item-bottom-border-shadow-color, 0.1);
            a{
                color: $sidebar-item-color;
                &:hover{
                    color: $sidebar-item-hover-color;
                    background-color: $sidebar-item-hover-bg-color !important;
                }
                &.active-link{
                    background-color: $active-link-bg-color !important;
                    color: $active-link-text-color;
                }
            }
            &:first-child{
                 border-left: 1px solid rgba($sidebar-item-bottom-border-shadow-color, 0.1);
            }
        }
        .sub-menu{
            background-color: $sidebar-bg-color;
            box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
            animation: fadeInUp 0.3s;
        }
    }
}
#navigation ul.menu ul a,
#navigation .menu ul ul a {
  box-shadow: inset 0 1px 0 0 rgba($sidebar-item-bottom-border-shadow-color, 0.1);
}

.horizontal-menu-tooltip-place{
    .tooltip {
        opacity: 1;
        z-index: 999999;
        &.bs-tooltip-top {
            .arrow::before {
                border-top-color: $mini-horizontal-menu-tooltip-arrow-color;
            }
        }
    }
    .tooltip-inner {
        color: $mini-horizontal-menu-tooltip-color;
        background-color: $mini-horizontal-menu-tooltip-bg-color !important;
    }
}


/*Footer*/
.app-footer{
    background-color: $footer-bg-color;
    color: $top-navbar-text-color;
}


/*Global classes*/
.box-shadow{
    -webkit-box-shadow: 0px 1px 0.2857rem 0px rgba($box-shadow-color,0.3);
    -moz-box-shadow: 0px 1px 0.2857rem 0px rgba($box-shadow-color,0.3);
    box-shadow: 0px 1px 0.2857rem 0px rgba($box-shadow-color,0.3);
}

// COMPONENTS CUSTOM

// Favorites
.favorites-container {
    border-left: 1px solid rgba($top-navbar-text-color, 0.4);
    border-right: 1px solid rgba($top-navbar-text-color, 0.4);
    &:after {
        color: $top-navbar-text-color;
    }
}
#favorites {
    & .dropdown {

        & .btn-block {
            background-color: $top-navbar-bg-color;
            color: $top-navbar-text-color;
        }

        & .dropdown-menu {
            box-shadow: 0 1px 0.3571rem rgba(150, 149, 151, 0.4);
            & .input-group-text {
                background-color: $primary-color;
                color: lighten($primary-color, 50%);
                border: 1px solid $primary-color;
            }
            & .dropdown-item {
                color: $dark-gray-color;
                &:hover {
                    background-color: rgba($primary-color, 0.1);
                }
                &.active {
                    background-color: rgba($primary-color, 0.1);
                    color: $primary-color;
                }
                & .fa-check{
                    color: $primary-color !important;
                }
            }
            & .btn.btn-default {
                background-color: transparent !important;
                color: $primary-color;
                border-color: #ced4da;
                border-left-color: transparent;
                &:focus { box-shadow: none; }
            }
        }
    }
}

// Inactivity
.preinactivity {
    background-color: #fff;
    box-shadow: 1px 2px 3px rgba(0,0,0, 0.3);
    & .preinactivity-time {
        border: 0.2143rem solid rgba($primary-color, 0.5);
        color: $dark-gray-color;
        &::after {
            background-color: $primary-color;
            color: lighten($primary-color, 50%);
        }
    }
}

// Back-top
.back-to-top {
    background-color: rgba($primary-color, 0.3);
    &:hover {
        background-color: rgba($primary-color, 0.9);
    }
}

// Slider
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5rem;
    border-radius: 1rem;
    background: $color-line-slider;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        background: $color-point-slider;
        cursor: pointer;
    }
    &::-moz-range-thumb {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        background: $color-point-slider;
        cursor: pointer;
    }
}

/*Libs */
.widget-controls{
  a{
      color: $widget-controls-color;
      &:hover{
          color: rgba($widget-controls-color, 0.7);
      }
  }
}

// SweetAlert
.custom-alert-container .swal2-modal {
    border-top: 0.3rem solid $border-color-swal;

    & .swal2-actions {
        justify-content: space-around;
        margin: 2rem 0 0 0;
    }
}
.custom-toast {
    & .swal2-popup {
        &.swal2-toast {
            box-shadow: 0 1px 0.3571rem rgba(150, 149, 151, 0.4);
        }
    }
    & .swal2-close { outline: none; }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
