/**** General ****/
//$font-family: 'Roboto', sans-serif;
$fontsize-main: 14px;
$logo-font: 'MoonHouse';

// $top-navbar-height: 46px;
$top-navbar-height: 3.286rem;


// $sidebar-width: 250px;
$sidebar-width: 17.86rem;
// $sidebar-compact-width: 160px;
$sidebar-compact-width: 11.43rem;
// $sidebar-mini-width: 70px;
$sidebar-mini-width: 5rem;

// $horizontal-menu-height: 38px;
$horizontal-menu-height: 2.714rem;
// $horizontal-compact-menu-height: 52px;
$horizontal-compact-menu-height: 3.714rem;
// $horizontal-mini-menu-height: 46px;
$horizontal-mini-menu-height: 3.286rem;

// $chat-person-search-media-height: 32px;
$chat-person-search-media-height: 2.286rem;
// $chat-window-header-height: 30px;
$chat-window-header-height: 2.143rem;
// $chat-window-footer-height: 46px;
$chat-window-footer-height: 3.286rem;

// $footer-height: 28px;
$footer-height: 2rem;

$focus-border: rgba(102, 102, 102, 0.6);
$normal-border: #ced4da;
$separator-border: #eaeaea;
