
<div class="settings a-5ms fadeInRight" [ngClass]="{'show': showSetting}">
  <button class="btn btn-outline-primary toggle shadow-none"
      (click)="showSetting=!showSetting">
      <i class="fa fa-spin fa-gear"></i>
  </button>
  <div class="card">
      <div class="card-header text-center">
          <span translate>APP.SETTINGS.TITLE</span>
      </div>
      <div class="card-body mt-2">
          <h6>
              <span translate>APP.SETTINGS.MENUORIENTATION</span>
          </h6>
          <div class="form-group">
              <div *ngFor="let menu of menus;" class="custom-control custom-radio pl-0"
                  [ngSwitch]="translate.currentLang">

                  <p-radioButton *ngSwitchCase="'es'"
                      [inputId]="'radio'+menu.id" name="menus" [value]="menu.code"
                      [(ngModel)]="menuOption" [label]="menu.name"
                      (onClick)="chooseMenu(menu.code)">
                  </p-radioButton>
                  <p-radioButton *ngSwitchCase="'en'"
                      [inputId]="'radio'+menu.id" name="menus" [value]="menu.code"
                      [(ngModel)]="menuOption" [label]="menu.nameEn"
                      (onClick)="chooseMenu(menu.code)">
                  </p-radioButton>

              </div>
          </div>
      </div>
      <div class="card-body">
          <h6>
              <span translate>APP.SETTINGS.MENUTYPE</span>
          </h6>
          <div class="form-group">
              <div *ngFor="let menuType of menuTypes;" class="custom-control custom-radio pl-0"
                  [ngSwitch]="translate.currentLang">

                  <p-radioButton *ngSwitchCase="'es'"
                      [inputId]="'menuType'+menuType.id" name="menuTypes" [value]="menuType.code"
                      [(ngModel)]="menuTypeOption" [label]="menuType.name"
                      (onClick)="chooseMenuType(menuType.code)">
                  </p-radioButton>
                  <p-radioButton *ngSwitchCase="'en'"
                      [inputId]="'menuType'+menuType.id" name="menuTypes" [value]="menuType.code"
                      [(ngModel)]="menuTypeOption" [label]="menuType.nameEn"
                      (onClick)="chooseMenuType(menuType.code)">
                  </p-radioButton>

              </div>
          </div>
      </div>
      <div class="card-body mb-3">
          <h6>
              <span translate>APP.SETTINGS.CHANGETHEME</span>
          </h6>

          <div *ngFor="let theme of themes;" class="theme"
              [ngClass]="{'active': theme.isActive}"
              [pTooltip]="theme.nbTema"
              [ngStyle]="{'background-color': theme.cdColor1}"
              (click)="changeTheme(theme)">

              <div class="theme-multi" *ngIf="theme.stMultiColor"
                  [ngStyle]="{'background-color': theme.cdColor2}">
              </div>
          </div>

      </div>
      <div class="card-body mb-2">
          <h6>
              <span translate>APP.SETTINGS.OTHEROPTIONS</span>
          </h6>
          <div class="custom-control custom-checkbox pl-0">
              <p-checkbox name="navbarIsFixed" inputId="navbarIsFixed"
                  value="FijarCabecera"
                  (onClick)="settings.theme.navbarIsFixed = !settings.theme.navbarIsFixed"
                  [(ngModel)]="settings.theme.navbarIsFixed"
                  label="{{ 'APP.SETTINGS.FIXEDHEAD' | translate }}"
                  binary="true">
              </p-checkbox>
          </div>
          <div class="custom-control custom-checkbox pl-0">
              <p-checkbox name="sidebarIsFixed" inputId="sidebarIsFixed"
                  value="FijarNavegacion"
                  (onClick)="settings.theme.sidebarIsFixed = !settings.theme.sidebarIsFixed"
                  [(ngModel)]="settings.theme.sidebarIsFixed"
                  label="{{ 'APP.SETTINGS.FIXEDNAV' | translate }}"
                  binary="true">
              </p-checkbox>
          </div>
          <div class="custom-control custom-checkbox pl-0">
              <p-checkbox name="footerIsFixed" inputId="footerIsFixed"
                  value="FijarCreditos"
                  (onClick)="settings.theme.footerIsFixed = !settings.theme.footerIsFixed"
                  [(ngModel)]="settings.theme.footerIsFixed"
                  label="{{ 'APP.SETTINGS.FIXEDFOOT' | translate }}"
                  binary="true">
              </p-checkbox>
          </div>
      </div>
  </div>
</div>
