.hidden {
    visibility: hidden;
}

.loader-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 500000;

    & .loader {
        height: 4px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: #ecf0f1;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: -200px;
            width: 200px;
            height: 4px;
            background-color: #cf0a2c;
            animation: loading 2s linear infinite;
        }
    }
}

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    70% {
        width: 70%;
    }

    80% {
        left: 50%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}