<div class="d-flex justify-content-center align-items-center w-100 h-100 register-container">
    <div class="col-xl-4 col-md-6 col-10 a-7ms fadeIn">
        <div class="card box-shadow border-danger">
            <div class="card-header d-flex justify-content-center align-items-center bg-danger">
                <!-- <i class="fa fa-registered" aria-hidden="true"></i> -->
                <img [src]="assets+'/img/app/iconTeclo_white.png'" alt="Logo" #logoRegister />
            </div>
            <div class="card-body text-center pb-1">
                <h2>Registro de invitado</h2>
                <a routerLink="/login" class="text-danger">
                    Iniciar sesión
                </a>

                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-4">
                    <div class="form-group">
                        <input [formControl]="name" class="form-control validation-field" placeholder="Nombre completo" type="text"> 
                        <small class="text-danger" *ngIf="form.get('name').touched">
                            <span *ngIf="form.get('name').hasError('required')">Nombre completo es requerido</span>
                            <span *ngIf="form.get('name').hasError('minlength')">Mínimo 3 caracteres</span>
                        </small>       
                    </div>
                    <div class="form-group">
                        <input [formControl]="email" class="form-control validation-field" placeholder="Correo" type="text"> 
                        <small class="text-danger" *ngIf="form.get('email').touched">
                            <span *ngIf="form.get('email').hasError('required')">Correo es requerido</span>
                            <span *ngIf="form.get('email').hasError('invalidEmail')">Correo no válido</span>
                        </small> 
                    </div>
                    <div class="form-group">
                        <input [formControl]="password" class="form-control validation-field" placeholder="Contraseña" type="password" minlength="6">
                         <small class="text-danger" *ngIf="form.get('password').touched">
                            <span *ngIf="form.get('password').hasError('required')">Contraseña es requerida</span>
                            <span *ngIf="form.get('password').hasError('minlength')">Mínimo 6 caracteres</span>
                        </small>                     
                    </div>
                    <div class="form-group">
                        <input [formControl]="confirmPassword" class="form-control validation-field" placeholder="Confirmar contraseña" type="password">
                        <small class="text-danger" *ngIf="form.get('confirmPassword').touched">
                            <span *ngIf="form.get('confirmPassword').hasError('required')">Confirmar contraseña es requerido</span>
                            <span *ngIf="form.get('confirmPassword').hasError('mismatchedPasswords')">Las contraseñas no son iguales</span>
                        </small> 
                    </div>

                    <div class="form-group mt-4">
                        <button class="btn btn-danger bg-danger btn-block text-white" type="submit"
                            [disabled]="!form.valid">
                            Registrarse
                        </button>
                    </div>

                    <div class="form-group text-center">
                        <small>
                            Al registrarte, aceptas nuestros 
                            <a class="text-danger terms">
                                Términos y políticas de privacidad
                            </a>
                        </small>
                    </div>             
                </form>  
            </div>
        </div>
    </div>
</div>