.register-container {
    position: absolute;
    background-image: none;
    background: linear-gradient(141deg, #55565a 0%, #333 59%, #333 20%);

    .card {
        border-top: 7px solid;
        border-radius: 10px;

        .card-header {
            width: 90px;
            height: 90px;
            margin: 0 auto;
            margin-top: -50px;
            border-radius: 50%;
            font-size: 36px;
            box-shadow: 1px 2px 3px rgba(0,0,0,0.5);

            & img {
                width: 75px;
                height: 75px;
            }
        }
    }
}