<!-- En el contenedor con la clase app
    Se insertan las clases de la configuración general de la aplicación -->
<div *ngIf="appSettings.settings" class="app"
    [ngClass]="appSettings.settings.theme.skin"
    [class.navbar-fixed]="appSettings.settings.theme.navbarIsFixed"
    [class.sidebar-fixed]="appSettings.settings.theme.sidebarIsFixed"
    [class.horizontal-menu]="appSettings.settings.theme.menu == 'horizontal'"
    [class.compact]="appSettings.settings.theme.menuType == 'compact'"
    [class.mini]="appSettings.settings.theme.menuType == 'mini'"
    [class.menu-hide]="!appSettings.settings.theme.showMenu">

    
    <div class="wrapper">
        <!-- router-outlet itera entre las pantallas que estarán
            disponibles en las rutas definidas en page.routes -->
        <router-outlet></router-outlet>

        <app-loader></app-loader>

    </div>
</div>