<div class="ui-g">
    
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
        <p>Selected City: {{selectedCity ? selectedCity.name : 'none'}}</p>
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown>
    </div>
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
        <p>Selected Car: {{selectedCar1 || 'none'}}</p>
        <p-dropdown [options]="cars" [(ngModel)]="selectedCar1" editable="true" placeholder="Select a Brand"></p-dropdown>
    </div>
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
        <p>Selected Car: {{selectedCar2 || 'none'}}</p>
        <p-dropdown [options]="cars" [(ngModel)]="selectedCar2" filter="true">
            <ng-template let-item pTemplate="selectedItem">
                <img src="assets/showcase/images/demo/car/{{item.label}}.png" style="width:16px;vertical-align:middle" />
                <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
            </ng-template>
            <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;position:absolute;top:1px;left:5px"/>
                    <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
        <p>Selected Car: {{selectedCar3 || 'none'}}</p>
        <p-dropdown [options]="groupedCars" [(ngModel)]="selectedCar3" placeholder="Select a Car" [group]="true">
            <ng-template let-group pTemplate="group">
                <img src="assets/showcase/images/demo/flag/{{group.value}}" style="width:20px;vertical-align:middle" />
                <span style="margin-left:.25em">{{group.label}}</span>
            </ng-template>
        </p-dropdown>
        
    </div>
    
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
        <p>Selected Cars: {{selectedCars1}}</p>
        <p-multiSelect [options]="cars" [(ngModel)]="selectedCars1" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
    </div>
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
        <p>Selected Cars: {{selectedCars2}}</p>
        <p-multiSelect [options]="cars" [(ngModel)]="selectedCars2" [panelStyle]="{minWidth:'12em'}">
            <ng-template let-value pTemplate="selectedItems">
                <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">
                    <img src="assets/showcase/images/demo/car/{{val}}.png" style="width:20px;vertical-align:middle;margin-right:.5em" />
                    <span>{{val}}</span>
                </div>
                <span *ngIf="!value || value.length === 0" class="ui-multiselected-empty-token ui-corner-all">Choose</span>
            </ng-template>
            <ng-template let-car pTemplate="item">
                <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;display:inline-block;vertical-align:middle"/>
                <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
            </ng-template>
        </p-multiSelect>
            
    </div>
    <div class="ui-sm-6 ui-md-6 ui-lg-3">
            <p-dropdown [options]="items" [(ngModel)]="item" placeholder="Select Item" [virtualScroll]="true" [itemSize]="31" [filter]="false"></p-dropdown>
    </div>
</div>


    