<div class="ui-g">
    <div class="ui-g-12">
            <div class="ui-g">
                <div class="ui-g-4">
                    <h5>Basic</h5>
                </div>
                <div class="ui-g-4">
                    <h5>Float Label</h5>
                </div>
                <div class="ui-g-4">
                    <h5>Disabled</h5>
                </div>
            </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <span id="text">{{text}}</span>
                <input id="input" type="text" size="30" pInputText [(ngModel)]="text"> 
            </div>
            <div class="ui-g-4">
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText> 
                    <label for="float-input">Username</label>
                </span>
            </div>
            <div class="ui-g-4">
                <input id="disabled-input" type="text" size="30" pInputText [disabled]="disabled" />
            </div>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g">
            <div class="ui-g-12">
                <h5>Addons</h5>
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input type="text" pInputText placeholder="Username">         
                </div>
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">$</span>
                    <input type="text" pInputText placeholder="Price">   
                    <span class="ui-inputgroup-addon">.00</span>      
                </div>
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">www</span>
                    <input type="text" pInputText placeholder="Website">      
                </div>
            </div>
        </div>
        
    </div>
    
    
    <div class="ui-sm-6 ui-md-8 ui-lg-8">
        
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-tags" style="line-height: 1.25;"></i></span>  
                <span class="ui-inputgroup-addon"><i class="pi pi-shopping-cart" style="line-height: 1.25;"></i></span>   
                <input type="text" pInputText placeholder="Price"> 
                <span class="ui-inputgroup-addon">$</span>  
                <span class="ui-inputgroup-addon">.00</span>      
            </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g">
            <div class="ui-g-12">
                <h5>Button Addons</h5>
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <div class="ui-inputgroup">
                    <button pButton type="button" label="Search"></button>
                    <input type="text" pInputText placeholder="Keyword">         
                </div>
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <div class="ui-inputgroup">
                    <input type="text" pInputText placeholder="Keyword">   
                    <button pButton type="button" icon="pi pi-refresh" class="ui-button-warn"></button>      
                </div>
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <div class="ui-inputgroup">
                    <button pButton type="button" icon="pi pi-check" class="ui-button-success"></button>    
                    <input type="text" pInputText placeholder="Vote">   
                    <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>      
                </div>
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><p-checkbox></p-checkbox></span>
                    <input type="text" pInputText placeholder="Username">         
                </div>
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <div class="ui-inputgroup">
                    <input type="text" pInputText placeholder="Price">   
                    <span class="ui-inputgroup-addon"><p-radioButton></p-radioButton></span>      
                </div>
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><p-checkbox></p-checkbox></span>
                    <input type="text" pInputText placeholder="Website">      
                    <span class="ui-inputgroup-addon"><p-radioButton></p-radioButton></span> 
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui-g-12">
        <div class="ui-g">
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <p>Chips is used to enter multiple values on an inputfield</p>
                <p-chips [(ngModel)]="values1" ></p-chips>
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4"></div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4"></div>
        </div>
    </div>

    <div class="ui-g-12">
        <h3>KeyFilter directive restricts user input based on a regular expression</h3>
        <div class="ui-g">
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <input type="text" pInputText pKeyFilter="int" placeholder="Integers">
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <input type="text" pInputText pKeyFilter="num" placeholder="Numbers">
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <input type="text" pInputText pKeyFilter="money" placeholder="Money">
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <input type="text" pInputText pKeyFilter="hex" placeholder="Hex">
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <input type="text" pInputText pKeyFilter="alpha" placeholder="Alphabetic">
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <input type="text" pInputText pKeyFilter="alphanum" placeholder="Alphanumberic">
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <input type="text" pInputText [pKeyFilter]="blockSpecial" placeholder="Block # < > * !">
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                <input type="text" pInputText [pKeyFilter]="blockSpace" placeholder="Block space key">
            </div>
            <div class="ui-sm-6 ui-md-4 ui-lg-4">
                
            </div>
        </div>
    </div>

</div>