.blink-ambient {
    & .dropdown-toggle::after,
    & .dropdown-toggle::before {
        content: none !important;
    }
    & .dropdown-menu {
        box-shadow: 0 1px 0.3571rem rgba(150, 149, 151, 0.4);
    }
    & .to-blink {
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1001;
        
        animation-name: blink;
        animation-duration: .5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    
        -webkit-animation-name: blink;
        -webkit-animation-duration: .5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
    }
    & .refresh-blink {
        font-size: 1.2rem;
        transition: all 0.1s ease;

        &:hover {
            color: #cf0a2c;
        }
    }
}


@-moz-keyframes blink {  
	0% { opacity: 1.0; }
	50% { opacity: 0.6; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blink {  
	0% { opacity: 1.0; }
	50% { opacity: 0.6; }
	100% { opacity: 1.0; }
}

@keyframes blink {  
	0% { opacity: 1.0; }
	50% { opacity: 0.6; }
	100% { opacity: 1.0; }
}
