<!-- Example single danger button -->
<div class="blink-ambient dropleft" *ngIf="isVisible">
  <div class="dropdown-toggle"
    [ngStyle]="{'opacity': blinkOpacity}"
    data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="true">
    <div class="to-blink"
      [ngStyle]="{
        'background-color': environt.color,
        'border-color': environt.border
      }">
    </div>
  </div>
  <div class="dropdown-menu a-3ms fadeIn">
    <table class="table table-borderless mb-0">
      <tr>
        <th>Ambiente:</th>
        <td>{{ environt.ambient }}</td>
        <td class="c-pointer" (click)="updateEnvironment()"
          pTooltip="Actualizar ambiente" tooltipPosition="left">
          <i class="fa fa-refresh refresh-blink"></i>
        </td>
      </tr>
      <tr>
        <th>Base:</th>
        <td>{{ environt.base }}</td>
      </tr>
    </table>

    <div class="dropdown-divider"></div>

    <div class="row d-flex justify-content-center">
      <div class="col-11">
        <strong>Intensidad del indicador:</strong>
      </div>
      <div class="col-11 mt-3 mb-2">
        <!-- <input type="range" class="slider"
          min="0.3" max="1" step=".1"
          [(ngModel)]="blinkOpacity" /> -->
        <p-slider [(ngModel)]="blinkOpacity" [step]="0.1"
          [min]="0.3" [max]="1">
        </p-slider>
      </div>
    </div>

  </div>

</div>
