<!-- Elementos de botón base -->
<div class="ui-g-6">
    <div class="ui-g">
        <div class="ui-g-12">
            <h5>Button Directive</h5>
        </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <button pButton type="button"label="Click"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <button pButton type="button" icon="pi pi-check" label="Click"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <button pButton type="button" icon="pi pi-check" iconPos="right" label="Click"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <button pButton type="button" icon="pi pi-check"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <button pButton type="button" icon="pi pi-check" [disabled]="true" label="Disabled"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                
            </div>
        </div>
    
        <div class="ui-g">
            <div class="ui-g-12">
                <h5>Severity Buttons</h5>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <button pButton type="button" label="Primary"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <button pButton type="button" label="Secondary" class="ui-button-secondary"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <button pButton type="button" label="Success" class="ui-button-success"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <button pButton type="button" label="Info" class="ui-button-info"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <button pButton type="button" label="Warning" class="ui-button-warning"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <button pButton type="button" label="Danger" class="ui-button-danger"></button>
            </div>
        </div>
    
        <div class="ui-g">
            <div class="ui-g-12">
                <h5>Rounded Buttons</h5>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                    <button pButton type="button" label="Primary" class="ui-button-rounded"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                    <button pButton type="button" label="Secondary" class="ui-button-rounded ui-button-secondary"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                    <button pButton type="button" label="Success" class="ui-button-rounded ui-button-success"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                    <button pButton type="button" label="Info" class="ui-button-rounded ui-button-info"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                    <button pButton type="button" label="Warning" class="ui-button-rounded ui-button-warning"></button>
            </div>
            <div class="ui-sm-12 ui-md-6 ui-lg-4">
                    <button pButton type="button" label="Danger" class="ui-button-rounded ui-button-danger"></button>
            </div>
        </div>
</div>
<!-- Elementos de botón con funcionalidad extra -->
<div class="ui-g-6">
    <div class="ui-g">
        <div class="ui-g-12">
            <h5>SplitButton</h5>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <p-splitButton label="Save" icon="pi pi-file" (onClick)="save('info')" [model]="items"></p-splitButton>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <p-splitButton label="Save" icon="pi pi-file" (onClick)="save('info')" [model]="items" styleClass="ui-button-secondary"></p-splitButton>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <p-splitButton label="Save" icon="pi pi-file" (onClick)="save('success')" [model]="items" styleClass="ui-button-success"></p-splitButton>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <p-splitButton label="Save" icon="pi pi-file" (onClick)="save('info')" [model]="items" styleClass="ui-button-info"></p-splitButton>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <p-splitButton label="Save" icon="pi pi-file" (onClick)="save('warn')" [model]="items" styleClass="ui-button-warning"></p-splitButton>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-lg-4">
                <p-splitButton label="Save" icon="pi pi-file" (onClick)="save('error')" [model]="items" styleClass="ui-button-danger"></p-splitButton>
        </div>
    </div>

    <div class="ui-g">
            <div class="ui-sm-12 ui-md-12 ui-lg-12">
                <h3>Selección Simple</h3>
                <p>Elemento Seleccionado: <span style="font-weight: bold">{{selectedType}}</span></p>
                <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
            </div>
            <div class="ui-sm-12 ui-md-12 ui-lg-12">
                    <h3>Selección Multiple</h3>
                    <p>Elementos seleccionados: <span style="font-weight: bold" *ngFor="let type of selectedTypes">{{type}} </span></p>
                    <p-selectButton [options]="types" [(ngModel)]="selectedTypes" multiple="multiple"></p-selectButton>
            </div>
    </div>

    <div class="ui-g">
        <div class="ui-sm-12 ui-md-6 ui-lg-6">
            <h3 class="first">Basic - ({{checked1}})</h3>
            <p-toggleButton [(ngModel)]="checked1" [style]="{'width':'150px'}"></p-toggleButton>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-lg-6">
                <h3>Customized - ({{checked2}})</h3>
                <p-toggleButton [(ngModel)]="checked2" onLabel="I confirm" offLabel="I reject" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'150px'}"></p-toggleButton>
        </div>
    </div>
    
</div>
    
