@import "../../assets/sass/core/variables";

.wrapper-inner {
    min-height: 100%;
    height: auto !important;
    margin-bottom: -$footer-height;
    padding: 0 0 $footer-height;
    // overflow: hidden;
}

.main-content {
    width: 100%;
    padding: 1.786rem;
    -webkit-box-flex: 1;
    min-height: calc(100vh - (#{$top-navbar-height} + #{$footer-height}));
    overflow: hidden;
}


/*settings*/
.settings {
    position: fixed;
    top: 5.714rem;
    right: -15.14rem;
    z-index: 995;
    width: 15rem;
    -webkit-transition: all .2s;
    transition: all .2s;

    &.show {
        right: -1px;
    }

    .btn {
        position: absolute;
        left: -2.429rem;
        padding: 0.5rem 0.8571rem 0.5rem 0.7143rem;
        z-index: 99;
        background: #fff;
        border-color: rgba(0, 0, 0, 0.125);
        border-style: solid;
        border-width: 1px 0px 1px 1px;
        border-radius: 0;
        border-bottom-left-radius: 0.2857rem;
        border-top-left-radius: 0.2857rem;
        cursor: pointer;

        &:focus {
            box-shadow: none;
        }
    }

    .card {

        // border-top: none;
        // border-radius: 0;
        .card-header {
            padding: 0.34rem 1.25rem;
            background: #fff !important;
            border-radius: 0;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: bold;
            // border-top: 1px solid rgba(0, 0, 0, 0.125);
            border-bottom: 0;
        }
    }

    .card-body {
        padding: 2px 1.429rem;

        h6 {
            border-bottom: 1px solid #eceeef;
            padding-bottom: 2px;
        }
    }

    .theme {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        display: inline-block;
        margin-right: 0.3571rem;
        cursor: pointer;
        transition: all 0.2s ease;
        overflow: hidden;

        &:hover,
        &.active {
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
        }

        & .theme-multi {
            position: absolute;
            top: 0;
            right: 0;
            width: 0.75rem;
            height: 1.5rem;
        }
    }

    .custom-control .custom-control-description {
        margin-top: -1px;
    }
}