<!-- PRE-INACTIVITY -->
<div class="preinactivity"
  [@enter] [@leave]
  *ngIf="inactivity.isPreinactivity">

  <div class="preinactivity-time"
    pTooltip="Seguir navegando"
    (click)="refreshSesion()">
    <strong>
      {{ inactivity.zeroMinutes + inactivity.minutesCounter }}:{{ inactivity.zeroSeconds + inactivity.secondsCounter }}
    </strong>
  </div>
  <div class="preinactivity-msg">
    <h4>Cierre de sesión por inactividad</h4>
  </div>

</div>

<!-- INACTIVITY 10s -->
<p-dialog [visible]="inactivity.isInactivity"
  [modal]="true" [style]="{width: '777px', minWidth: '200px'}"
  [responsive]="true" [maximizable]="false" [minY]="70" [closable]="false"
  positionTop="100" [resizable]="false" [closeOnEscape]="true" [focusTrap]="false"
  [dismissableMask]="true" (onShow)="initProgress()">
  <!-- (onHide)="" (onShow)=""> -->
  <p-header>
    <i class="fa fa-info-circle"></i> ¡Alerta! La sesión expirará en {{ progressCounter }} segundos
  </p-header>

  <div class="progress mt-4 mb-4">
    <div #sesionProgress class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
      role="progressbar" aria-valuenow="0" aria-valuemin="0"
      aria-valuemax="10" style="width: 10%">
      <span class="text-monospace" [style]="{'font-size':'1rem'}">
        {{ progressCounter }}
      </span>
    </div>
  </div>

  <p-footer>
    <button class="btn btn-default" (click)="authService.goLogout()">
      Cerrar sesión
    </button>
    <button class="btn btn-primary" (click)="browsing()">
      Seguir navegando
    </button>
  </p-footer>
</p-dialog>
