.preinactivity {
    position: fixed;
    width: 21rem;
    bottom: 4.5rem;
    right: 0;
    padding: 0.5rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
        & .preinactivity-time {
            &::after { display: flex; }
        }
    }

    & .preinactivity-time {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        font-size: 1rem;
        border-radius: 50%;

        &::after {
            display: none;
            font-family: 'FontAwesome';
            content: "\f021";
            position: absolute;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            font-size: 2.5rem;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            animation: fadeIn 0.3s;
        }
    }

    & .preinactivity-msg {
        text-align: left;
        margin-left: 1rem;
        & h4 {
            font-size: 1rem;
            margin: 0;
        }
    }
}