<div class="views-content">
  <div class="row">
    <div class="col-12 mb-3">
      <p-panel header="Formulario" [toggleable]="true">
        <div class="row">
          <!-- INPUT BOOTSTRAP -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="lb-form">Input con bootstrap:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input type="text" class="form-control"
                  [(ngModel)]="value" placeholder="Input con bootstrap" />
              </div>
            </div>
          </div>
          <!-- INPUTTEXT PRIMENG -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="lb-form">Input con primeng:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input type="text" pInputText
                  [(ngModel)]="value" placeholder="Input con primeng" />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- CHECKBOX -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="lb-form">Checkbox:</label>
              <div class="row">
                <div *ngFor="let item of cities1" class="col-3 mb-2">
                  <p-checkbox name="groupname" [value]="item.label+item.value.id"
                    [(ngModel)]="item.value.isActive" [label]="item.label"
                    binary="true">
                  </p-checkbox>
                </div>
              </div>
            </div>
          </div>
          <!-- RADIOBUTTON -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="lb-form">Radiobuttons:</label>
              <div class="row">
                <div *ngFor="let item of cities2" class="col-3 mb-2">
                  <p-radioButton name="groupnameradio" [value]="item.code"
                    [(ngModel)]="selectedRadio" [label]="item.name">
                  </p-radioButton>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- INPUTSWITCH -->
          <div class="col-md-3">
            <div class="form-group">
              <label class="lb-form">Input switch:</label>
              <div class="input-group">
                <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
              </div>
            </div>
          </div>
          <!-- CHIPS (ETIQUETAS) -->
          <div class="col-md-3">
              <label class="lb-form">Etiquetas:</label>
              <p-chips [(ngModel)]="values"></p-chips>
          </div>
          <!-- DROPDOWN (SELECT) -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="lb-form">Select (Dropdown):</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-list"></i>
                  </span>
                </div>
                <p-dropdown [options]="cities1"
                  [(ngModel)]="selectedCity1" [filter]="true">
                </p-dropdown>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- MULTISELECT -->
          <div class="col-md-4">
            <div class="form-group">
              <label class="lb-form">Multiselect (Dropdown):</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-list"></i>
                  </span>
                </div>
                <p-multiSelect [options]="cities1"
                  [(ngModel)]="selectedCities1">
                </p-multiSelect>
              </div>
            </div>
          </div>
          <!-- RATING -->
          <div class="col-md-4">
            <div class="form-group">
              <label class="lb-form">Rating:</label>
              <div class="text-center">
                <p-rating [ngModel]="val5"></p-rating>
              </div>
            </div>
          </div>
          <!-- SPINNER -->
          <div class="col-md-4">
            <div class="form-group">
              <label class="lb-form">Spinner</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-list"></i>
                  </span>
                </div>
                <p-spinner size="30" [(ngModel)]="valSpinner"
                  [min]="0" [max]="100">
                </p-spinner>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- SLIDER -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="lb-form mb-3">Slider:</label>
              <p-slider [(ngModel)]="val"></p-slider>
            </div>
          </div>
          <!-- DATEPICKER | TIMEPICKER -->

          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-4">
                <h3>Basic</h3>
                <p-calendar [(ngModel)]="date1"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Spanish</h3>
                <p-calendar [(ngModel)]="date2" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Icon</h3>
                <p-calendar [(ngModel)]="date3" [showIcon]="true"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Min-Max</h3>
                <p-calendar [(ngModel)]="date4" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Disable Days</h3>
                <p-calendar [(ngModel)]="date5" [disabledDates]="invalidDates" [disabledDays]="[0,6]" [readonlyInput]="true"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Navigators</h3>
                <p-calendar [(ngModel)]="date6" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Time</h3>
                <p-calendar [(ngModel)]="date7" [showTime]="true"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Time Only </h3>
                <p-calendar [(ngModel)]="date8" [timeOnly]="true"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Multiple </h3>
                <p-calendar [(ngModel)]="dates" selectionMode="multiple" [readonlyInput]="true"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Range</h3>
                <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Button Bar</h3>
                <p-calendar [(ngModel)]="date9" showButtonBar="true"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Date Template</h3>
                <p-calendar [(ngModel)]="date11">
                    <ng-template pTemplate="date" let-date>
                        <span [ngStyle]="{backgroundColor: (date.day < 21 && date.day > 10) ? '#81C784' : 'inherit'}" style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span>
                    </ng-template>
                </p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Multiple Months</h3>
                <p-calendar [(ngModel)]="date11" [numberOfMonths]="3"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Month Picker</h3>
                <p-calendar [(ngModel)]="date12" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar>
            </div>

            <div class="ui-g-12 ui-md-4">
                <h3>Touch UI</h3>
                <p-calendar [(ngModel)]="date13" [touchUI]="true" [readonlyInput]="true"></p-calendar>
            </div>
        </div>

        <h3>Inline</h3>
        <p-calendar [(ngModel)]="date14" [inline]="true" [showWeek]="true"></p-calendar>



          <div class="col-md-6">
            <div class="form-group">
              <label class="lb-form">Datepicker:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <p-calendar [(ngModel)]="value"
                  showTime="true" hourFormat="24"
                  showButtonBar="true" [touchUI]="true"
                  selectionMode="multiple" [monthNavigator]="true"
                  [yearNavigator]="true" yearRange="2000:2030">
                </p-calendar>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <!-- FIELDSET -->
          <div class="col-md-6">
            <p-fieldset legend="Fieldset">
              Normal
            </p-fieldset>
          </div>
          <div class="col-md-6">
            <p-fieldset legend="Fieldset toggeable" [toggleable]="true">
              Toggleable
            </p-fieldset>
          </div>
        </div>

        <div class="row mb-3">
          <!-- ACCORDION -->
          <div class="col-md-12">
            <p-accordion>
              <p-accordionTab header="Header 1">
                  Content 1
              </p-accordionTab>
              <p-accordionTab header="Header 2">
                  Content 2
              </p-accordionTab>
              <p-accordionTab header="Header 3">
                  Content 3
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>

        <div class="row mb-3">
          <!-- PICKLIST -->
          <div class="col-12">
            <p-pickList [source]="cities1" [target]="targetList"
              [responsive]="true" dragdrop="true"
              sourceHeader="Ciudades" targetHeader="Más ciudades"
              filterBy="label"
              sourceFilterPlaceholder="Filtrar por ciudad">

              <ng-template let-city pTemplate="item">
                <div class="ui-helper-clearfix">
                  {{city.label}} - {{city.value.code}}
                </div>
              </ng-template>
            </p-pickList>
          </div>
        </div>

        <div class="row mb-3">
          <!-- ORDERLIST -->
          <div class="col-12">
            <p-orderList [value]="cities2" header="Ciudades"
              filter="filter" filterBy="name"
              filterPlaceholder="Filtrar por nombre" dragdrop="true">

              <ng-template let-city pTemplate="item">
                <div class="ui-helper-clearfix">
                  {{city.name}} - {{city.code}}
                </div>
              </ng-template>
            </p-orderList>
          </div>
        </div>

        <div class="row mb-3">
          <!-- CAROUSEL -->
          <div class="col-12">
            <p-carousel headerText="Personas" [value]="peoples"
              numVisible="5" pageLinks="5" circular="circular"
              responsive="true">

              <ng-template let-people pTemplate="item">
                <div class="ui-grid ui-grid-responsive">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-6">Nombre:</div>
                    <div class="ui-grid-col-6">{{people.name}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-6">Edad</div>
                    <div class="ui-grid-col-6">{{people.age}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-6">Nacionalidad</div>
                    <div class="ui-grid-col-6">{{people.nacionality}}</div>
                  </div>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>

        <div class="row mb-3">
          <!-- POPOVER -->
          <div class="col-md-3 text-center">
            <button type="text" class="btn btn-primary"
              (click)="op.toggle($event)">
              Popover
            </button>
          </div>
          <!-- DIALOG (MODAL) -->
          <div class="col-md-3">
            <p-dialog [(visible)]="displayDialog" [modal]="true" [style]="{width: '777px', minWidth: '200px'}"
              [responsive]="true" [maximizable]="true" [minY]="70"
              [resizable]="false" [closeOnEscape]="true" [dismissableMask]="true"
              positionTop="30" (onHide)="testToggleModal('hide')" (onShow)="testToggleModal('show')">
              <p-header>
                Header content here
              </p-header>
              Content Content Content Content Content Content Content Content
              Content Content Content Content Content Content Content Content
              <p-footer>
                <button class="btn btn-default" (click)="displayDialog=false">
                  Cancelar
                </button>
                <button class="btn btn-primary" (click)="displayDialog=false">
                  Aceptar
                </button>

              </p-footer>
            </p-dialog>
            <button type="text" class="btn btn-primary" (click)="displayDialog = true">
              Dialog (Modal)
            </button>
          </div>
          <!-- SIDEBAR -->
          <div class="col-md-3 text-center">
            <button type="text" class="btn btn-primary" (click)="display = true">
              Sidebar bottom
            </button>
          </div>
          <!-- TOOLTIP -->
          <div class="col-md-3 text-center">
            <button type="text" class="btn btn-primary"
              pTooltip="Esto es un tooltip | abajo" tooltipPosition="bottom">
              Tooltip
            </button>
          </div>

        </div>
        <div class="row mb-3">
          <!-- LIGHTBOX -->
          <div class="col-12">
            <p-lightbox [images]="images"
              styleClass="custom-lightbox">
            </p-lightbox>
          </div>
        </div>
        <div class="row mb-3">
          <!-- STEPS -->
          <div class="col-12">
            <p-steps [model]="items" [readonly]="false"
              [(activeIndex)]="activeIndex">
            </p-steps>
          </div>
        </div>

        <div class="row mb-3">
          <!-- SCROLLPANEL -->
          <div class="col-md-4">
            <p-scrollPanel [style]="{width: '100%', height: '200px'}">
              <div style="padding:1em;line-height:1.5">
                  The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. His beloved
                  son Michael has just come home from the war, but does not intend to become part of his father's business.
                  Through Michael's life the nature of the family business becomes clear. The business of the family is just
                  like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence
                  whenever anything stands against the good of the family. The story begins as Don Vito Corleone, the head
                  of a New York Mafia family, oversees his daughter's wedding. His beloved son Michael has just come home from
                  the war, but does not intend to become part of his father's business. Through Michael's life the nature of
                  the family business becomes clear. The business of the family is just like the head of the family, kind and
                  benevolent to those who give respect, but given to ruthless violence whenever anything stands against the
                  good of the family.
              </div>
            </p-scrollPanel>
          </div>
          <div class="col-md-4">
            <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="custombar1">
              <div style="padding:1em;line-height:1.5">
                  The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. His beloved
                  son Michael has just come home from the war, but does not intend to become part of his father's business.
                  Through Michael's life the nature of the family business becomes clear. The business of the family is just
                  like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence
                  whenever anything stands against the good of the family. The story begins as Don Vito Corleone, the head
                  of a New York Mafia family, oversees his daughter's wedding. His beloved son Michael has just come home from
                  the war, but does not intend to become part of his father's business. Through Michael's life the nature of
                  the family business becomes clear. The business of the family is just like the head of the family, kind and
                  benevolent to those who give respect, but given to ruthless violence whenever anything stands against the
                  good of the family.
              </div>
            </p-scrollPanel>
          </div>
          <div class="col-md-4">
            <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="custombar2">
              <div style="padding:1em;line-height:1.5;width:600px;">
                The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. His beloved
                son Michael has just come home from the war, but does not intend to become part of his father's business.
                Through Michael's life the nature of the family business becomes clear. The business of the family is just
                like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence
                whenever anything stands against the good of the family. The story begins as Don Vito Corleone, the head
                of a New York Mafia family, oversees his daughter's wedding. His beloved son Michael has just come home from
                the war, but does not intend to become part of his father's business. Through Michael's life the nature of
                the family business becomes clear. The business of the family is just like the head of the family, kind and
                benevolent to those who give respect, but given to ruthless violence whenever anything stands against the
                good of the family.
              </div>
            </p-scrollPanel>
          </div>
        </div>

        <div class="row mb-3">
          <!-- PANEL MENU -->
          <div class="col-12">
            <p-panelMenu [model]="items"
              [multiple]="false">
            </p-panelMenu>
          </div>
        </div>

        <div class="row mb-3">
          <!-- PROGRESSBAR -->
          <div class="col-12">
            <p-progressBar [value]="20"></p-progressBar>
          </div>
        </div>
      </p-panel>
    </div>

    <div class="col-12 mb-3">
      <!-- TABVIEW -->
      <p-tabView>
        <p-tabPanel header="Godfather I" [selected]="true">
            The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
        </p-tabPanel>
        <p-tabPanel header="Godfather II">
            Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
        </p-tabPanel>
        <p-tabPanel header="Godfather III" [closable]="true">
            After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
        </p-tabPanel>
      </p-tabView>
    </div>

    <!-- TABLA Y PAGINACIÓN -->
    <div class="col-12 mb-3">
      <p-panel header="Registros encontrados: 20" [toggleable]="true">
        <p-table #dt [columns]="selectedColumns" [value]="peoples"
          [paginator]="true" [rows]="5" [resizableColumns]="true"
          [rowsPerPageOptions]="[5,10,20]"
          [scrollable]="true" scrollHeight="300px">

          <ng-template pTemplate="caption">
            <div class="row d-flex justify-content-between">
              <div class="col-md-4">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns"
                  optionLabel="header" selectedItemsLabel="{0} columnas seleccionadas"
                  defaultLabel="Choose Columns">
                </p-multiSelect>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Filtrar por..."
                    (input)="dt.filterGlobal($event.target.value, 'contains')" />
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns">
            </colgroup>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" pResizableColumn
                [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-people let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" class="ui-resizable-column">
                {{people[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </div>|
  </div>

  <!-- POPOVER -->
  <p-overlayPanel #op [showCloseIcon]="true">
    Content
  </p-overlayPanel>
  <!-- SIDEBAR -->
  <p-sidebar [(visible)]="display" position="bottom">
    Content
  </p-sidebar>

  <p-selectButton [options]="types"
    [(ngModel)]="selectedCity2" multiple="multiple">
  </p-selectButton>

  <br><br>
  <div class="form-group mb-4">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-asterisk"></i>
        </span>
      </div>
      <input class="form-control" pPassword
        placeholder="Contraseña" type="password" />
    </div>
  </div>
  <p-toolbar>
    <div class="ui-toolbar-group-left">
        <button pButton type="button" label="New" icon="pi pi-plus"></button>
        <button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success"></button>

        <i class="ui-toolbar-separator pi pi-bars" style="vertical-align: middle"></i>

        <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="ui-button-warning"></p-splitButton>
    </div>

    <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="pi pi-search"></button>
        <button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
        <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
        <button class="btn btn-primary" (click)="testToggleModal('show')">
          Aceptar
        </button>
        <button class="btn btn-primary" (click)="alert.success('Se abrió el modal', 'success')">
          Success
        </button>
        <button class="btn btn-primary" (click)="alert.error('Se abrió el modal', 'success')">
           Error
        </button>
        <button class="btn btn-primary" (click)="alert.info('Se abrió el modal', 'success')">
          Info
        </button>
        <button class="btn btn-primary" (click)="alert.warning('Se abrió el modal', 'success')">
          Warnig
        </button>
        <button class="btn btn-primary" (click)="alert.question('Se abrió el modal', 'success')">
          Pregunta
        </button>
    </div>
</p-toolbar>


</div>

