<div class="ui-g">
    <div class="ui-sm-12 ui-md-6 ui-lg-6">
        <h5>RadioButton</h5> 
        <p> RadioButton is an extension to standard radio button element with skinning capabilities.</p>
        <div class="ui-g">
            <div class="ui-sm-12 ui-md-12 ui-lg-6">
                <h3 class="first">Basic</h3>
                Selected Value = {{val1||'none'}}
                <div class="ui-g" >
                    <div class="ui-g-12"><p-radioButton name="group1" value="Option 1" label="Option 1" [(ngModel)]="val1" inputId="opt1"></p-radioButton></div>
                    <div class="ui-g-12"><p-radioButton name="group1" value="Option 2" label="Option 2" [(ngModel)]="val1" inputId="opt2"></p-radioButton></div>
                    <div class="ui-g-12"><p-radioButton name="group1" value="Option 3" label="Option 3" [(ngModel)]="val1" inputId="opt3"></p-radioButton></div>
                </div>
            </div>
            <div class="ui-sm-12 ui-md-12 ui-lg-6">
                <h3>Preselection</h3>
                Selected Value = {{val2||'none'}}
                <div class="ui-g" >
                    <div class="ui-g-12"><p-radioButton name="group2" value="Option 1" label="Option 1" [(ngModel)]="val2" inputId="preopt1"></p-radioButton></div>
                    <div class="ui-g-12"><p-radioButton name="group2" value="Option 2" label="Option 2" [(ngModel)]="val2" inputId="preopt2"></p-radioButton></div>
                    <div class="ui-g-12"><p-radioButton name="group2" value="Option 3" label="Option 3" [(ngModel)]="val2" inputId="preopt3"></p-radioButton></div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-6">
            <h5>Checkbox</h5>
            <p> Checkbox is an extension to standard checkbox element with skinning capabilities</p>
        <div class="ui-g">
            <div class="ui-sm-12 ui-md-12 ui-lg-6">
                <h3 class="first">Basic</h3>
                Selected Cities: <span *ngFor="let city of selectedCities" style="margin-right:10px">{{city}}</span>
                <div class="ui-g" >
                    <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="New York" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>
                    <div class="ui-g-12"><p-checkbox name="group1" value="San Francisco" label="San Francisco" [(ngModel)]="selectedCities" inputId="sf"></p-checkbox></div>
                    <div class="ui-g-12"><p-checkbox name="group1" value="Los Angeles" label="Los Angeles" [(ngModel)]="selectedCities" inputId="la"></p-checkbox></div>
                </div>
            </div>
            <div class="ui-sm-12 ui-md-12 ui-lg-6">
                <h3>Preselection</h3>
                <div class="ui-g" >
                    <div class="ui-g-12"><p-checkbox name="group2" value="Technology" label="Technology" [(ngModel)]="selectedCategories" inputId="technology"></p-checkbox></div>
                    <div class="ui-g-12"><p-checkbox name="group2" value="Finance" label="Finance" [(ngModel)]="selectedCategories" inputId="finance"></p-checkbox></div>
                    <div class="ui-g-12"><p-checkbox name="group2" value="Sports" label="Sports" [(ngModel)]="selectedCategories" inputId="sports"></p-checkbox></div>
                    <div class="ui-g-12"><p-checkbox name="group2" value="Entertainment" label="Entertainment" [(ngModel)]="selectedCategories" inputId="entertainment"></p-checkbox></div>
                </div>
            </div>
        </div>
    </div>
    
</div>