.favorites-container {
    position: relative;    
    padding: 0 1.429rem 0 0.4286rem;
    &:after {
        font-family: FontAwesome;
        content: "\f004";
        position: absolute;
        right: 0.2857rem;
        top: 1px;
        pointer-events: none;
        cursor: pointer;       
    }
    &.show-list {
        width: 17.29rem;
        border: none !important;
    }    
    ul.list-inline {
        white-space: nowrap;
        overflow: hidden;
        .list-inline-item {
            margin-right: 0.7143rem;
        }
    }
}

#favorites .dropdown {
    position: absolute;
    right: 0;
    top: -0.4286rem;
    width: 1.286rem;
    height: 1.571rem;
    overflow: hidden;
    .btn-block{
        width: 17.29rem;
        opacity: 0;
        box-shadow: none;
        cursor: pointer;
        position: relative;
        z-index: 1; 
        border: 0;
        padding-bottom: 0.9286rem;        
    }
    &.open {
        overflow: visible;
        width: auto;
        height: auto;
        .btn-block{
            opacity: 1;
        }
    }
    .dropdown-toggle::after {
        content:none;
    }
}


@-webkit-keyframes arrow-jump {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
        -webkit-transform: translateX(10px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes arrow-jump {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
        -moz-transform: translateX(10px);
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes arrow-jump {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
        -o-transform: translateX(10px);
    }
    100% {
        opacity: 0;
        -o-transform: translateX(0);
    }
}
@keyframes arrow-jump {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
        transform: translateX(10px);
    }
    100% {
        opacity: 0;
        transform: translateX(0);
    }
}
#arrow {
  -webkit-animation: arrow-jump 2s infinite;
  -moz-animation:    arrow-jump 2s infinite; 
  -o-animation:      arrow-jump 2s infinite; 
  animation:         arrow-jump 2s infinite; 
}
