<h3 class="first">Basic</h3>
<p>Click the button to show the panel.</p>
<button type="text" pButton label="Basic" (click)="op1.toggle($event)"></button>

<p-overlayPanel #op1>
        <img src="assets/img/app/logotipo.png" width="400px" height="200px" alt="Galleria 1" />
</p-overlayPanel>

<!-- <h3>Customized</h3>
<p>This OverlayPanel gets displayed on hover of the icon, is not dismissable and displays a close icon.</p>
<i class="pi pi-search" (mouseenter)="op2.show($event)" style="font-size:24px"></i>

<p-overlayPanel #op2 [showCloseIcon]="true" [dismissable]="false">
  <p-table  [style]="{width: '500px'} [paginator]='true' [rows]='5' ">
    <ng-template pTemplate="header">
       <tr>
        <th pSortableColumn="vin">Vin <p-sortIcon field="vin"></p-sortIcon></th>
        <th pSortableColumn="year">Year <p-sortIcon field="year"></p-sortIcon></th>
        <th pSortableColumn="brand">Brand <p-sortIcon field="brand"></p-sortIcon></th>
        <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon></th>
       </tr>
    </ng-template>
  </p-table>
</p-overlayPanel> -->


<h3>Table Integration</h3>
<p-table [value]="cars2">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4em"></th>
            <th>Vin</th>
            <th>Year</th>
            <th>Brand</th>
            <th>Color</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td>
                <button type="button" pButton (click)="selectCar($event,car,op3)" icon="pi pi-search"></button>
            </td>
            <td>{{car.vin}}</td>
            <td>{{car.year}}</td>
            <td>{{car.brand}}</td>
            <td>{{car.color}}</td>
        </tr>
    </ng-template>
</p-table>

<p-overlayPanel #op3>
    <img src="assets/showcase/images/demo/car/{{selectedCar.brand}}.png" *ngIf="selectedCar"/>
</p-overlayPanel>