<style>
    
    .ui-g-principal:hover{
        background: rgba(0,0,0,0);
        color: #3a7999;
        box-shadow: inset 0 0 0 3px #3a7999;
        font-weight: bold;
    }
    
</style>
    <div class="ui-g">
        <div class="ui-sm-2 ui-md-1 ui-lg-1 ui-g-principal">ui-g-1</div>
        <div class="ui-sm-2 ui-md-1 ui-lg-1 ui-g-principal">ui-g-1</div>
        <div class="ui-sm-2 ui-md-1 ui-lg-1 ui-g-principal">ui-g-1</div>
        <div class="ui-sm-2 ui-md-1 ui-lg-1 ui-g-principal">ui-g-1</div>
        <div class="ui-sm-2 ui-md-1 ui-lg-1 ui-g-principal">ui-g-1</div>
        <div class="ui-sm-2 ui-md-1 ui-lg-1 ui-g-principal">ui-g-1</div>
        <div class="ui-sm-2 ui-md-1 ui-lg-1 ui-g-principal">ui-g-1</div>
        <div class="ui-sm-2 ui-md-1 ui-lg-1 ui-g-principal">ui-g-1</div>
        <div class="ui-sm-2 ui-md-1 ui-lg-1 ui-g-principal">ui-g-1</div>
        <div class="ui-sm-2 ui-md-1 ui-lg-1 ui-g-principal">ui-g-1</div>
        <div class="ui-sm-2 ui-md-1 ui-lg-1 ui-g-principal">ui-g-1</div>
        <div class="ui-sm-2 ui-md-1 ui-lg-1 ui-g-principal">ui-g-1</div>
    </div>
    <div class="ui-g">
        <div class="ui-sm-4 ui-md-2 ui-lg-2 ui-g-principal">ui-g-2</div>
        <div class="ui-sm-4 ui-md-2 ui-lg-2 ui-g-principal">ui-g-2</div>
        <div class="ui-sm-4 ui-md-2 ui-lg-2 ui-g-principal">ui-g-2</div>
        <div class="ui-sm-4 ui-md-2 ui-lg-2 ui-g-principal">ui-g-2</div>
        <div class="ui-sm-4 ui-md-2 ui-lg-2 ui-g-principal">ui-g-2</div>
        <div class="ui-sm-4 ui-md-2 ui-lg-2 ui-g-principal">ui-g-2</div>
    </div>
    <div class="ui-g">
        <div class="ui-sm-6 ui-md-3 ui-lg-3 ui-g-principal">ui-g-3</div>
        <div class="ui-sm-6 ui-md-3 ui-lg-3 ui-g-principal">ui-g-3</div>
        <div class="ui-sm-6 ui-md-3 ui-lg-3 ui-g-principal">ui-g-3</div>
        <div class="ui-sm-6 ui-md-3 ui-lg-3 ui-g-principal">ui-g-3</div>
    </div>
    <div class="ui-g">
        <div class="ui-sm-4 ui-md-4 ui-lg-4 ui-g-principal">ui-g-4</div>
        <div class="ui-sm-4 ui-md-4 ui-lg-4 ui-g-principal">ui-g-4</div>
        <div class="ui-sm-4 ui-md-4 ui-lg-4 ui-g-principal">ui-g-4</div>
    </div>
    <div class="ui-g">
        <div class="ui-sm-6 ui-md-4 ui-lg-4 ui-g-principal">ui-g-6</div>
        <div class="ui-sm-6 ui-md-4 ui-lg-4 ui-g-principal">ui-g-6</div>
    </div>
    <div class="ui-g">
        <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-principal">ui-g-12</div>
    </div>
    
    <div class="ui-g">
        <div class="ui-sm-4 ui-md-4 ui-lg-4 ui-g-principal">ui-g-4</div>
        <div class="ui-sm-8 ui-md-8 ui-lg-8 ui-g-principal">ui-g-8</div>
    </div>
    
    <div class="ui-g">
        <div class="ui-sm-3 ui-md-3 ui-lg-3 ui-g-principal">ui-g-3</div>
        <div class="ui-sm-9 ui-md-9 ui-lg-9 ui-g-principal">ui-g-9</div>
    </div>
    
    <div class="ui-g">
        <div class="ui-sm-3 ui-md-3 ui-lg-3 ui-g-principal">ui-g-3</div>
        <div class="ui-sm-5 ui-md-5 ui-lg-5 ui-g-principal">ui-g-5</div>
        <div class="ui-sm-4 ui-md-4 ui-lg-4 ui-g-principal">ui-g-4</div>
    </div>
    
    <div class="ui-g">
        <div class="ui-sm-4 ui-md-4 ui-lg-4 ui-g-principal">ui-g-4</div>
        <div class="ui-sm-2 ui-md-2 ui-lg-2 ui-g-principal">ui-g-2</div>
        <div class="ui-sm-2 ui-md-2 ui-lg-2 ui-g-principal">ui-g-2</div>
        <div class="ui-sm-3 ui-md-3 ui-lg-3 ui-g-principal">ui-g-3</div>
        <div class="ui-sm-1 ui-md-1 ui-lg-1 ui-g-principal">ui-g-1</div>
    </div>
